body {
   background-color: rgb(21, 32, 43);
}

/* for centering the component */
.dark-card {
   margin: 90px auto;
}



.dark-card {
   width: 620px;
   color: white;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: rgb(25, 39, 52);
}

.dark-card .card-head {
   padding: 15px;
   margin-top: 3px;
   margin-bottom: 4px;
   letter-spacing: 2px;
}

.dark-card .card-head img {
   float: left;
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 2px solid #38444d;
}

.dark-card .card-head a {
   float: left;
   color: white;
   font-size: 19px;
   margin-top: 15px;
   transition: 0.2s;
   margin-left: 18px;
   text-align: center;
   text-decoration: none;
   font-family: sans-serif;
}

.dark-card .card-head a:hover {
   color: blueviolet;
}

.dark-card .card-image {
   margin-top: 55px;
   text-align: center;
   margin-bottom: 13px;
}

.dark-card .card-image img {
   width: 100%;
   height: 100%;
   border-top: 1px solid #38444d;
   border-bottom: 1px solid #38444d;
}

.dark-card .card-description {
   padding: 17px;
   font-size: 17px;
   line-height: 25px;
   margin-top: -18px;
   margin-bottom: 17px;
   white-space: pre-line;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.dark-card .card-footer {
   float: right;
   padding: 15px;
   font-size: 17px;
   font-family: monospace;
}