body {
   background-color: #15202b;
}

:root {
   --close-btn-space: 13px 15px 0 0;
}


/* for centering the component */
.container {
   width: 500px;
   margin: 70px auto;
   text-align: center;
}

.search-input {
   position: relative;
}

.search-input input {
   width: 100%;
   border: none;
   padding: 12px;
   outline: none;
   display: block;
   color: #ffffff;
   font-size: 17px;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.search-input input:focus {
   background-color: #38444d;
}

.search-input input::placeholder {
   font-family: monospace;
}

span.clear-btn {
   top: 0;
   right: 0;
   opacity: 0;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   position: absolute;
   margin: var(--close-btn-space);
   font-family: sans-serif;
}