body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.warning-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.2rem 1.4rem;
	background-color: var(--warning-500);
}

.warning-alert__message {
	order: 2;
	color: #000;
	font-size: var(--text-16x);
}

.warning-alert__icon {
	order: 1;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 1.4rem;
}
