@import "../css/toggle.css";
@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.navbar {
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   height: 64px;
   display: flex;
   position: fixed;
   align-items: center;
   padding: 0 55px 0 55px;
   background-color: #ffffff;
   justify-content: space-between;
   box-shadow: var(--component-box-shadow);
}

.navbar__brand {
   width: 62px;
   height: 62px;
   background-size: cover;
   transition: box-shadow 0.2s;
   background-repeat: no-repeat;
   background-image: url(../img/logo.png);
   box-shadow: var(--component-box-shadow);
}

.navbar__brand:hover {
   box-shadow: 0 0 4px 4px #404a4d33;
}

.navbar__items {
   width: 20%;
   display: flex;
   justify-content: space-between;
}

.navbar__link {
   color: #000000;
   letter-spacing: 1px;
   text-decoration: none;
   font: 1rem var(--font-family);
   transition: padding-bottom 0.2s;
}

.navbar__link:hover {
   padding-bottom: 22px;
   border-bottom: 3px solid black;
}

.navbar__slash-icon {
   margin-right: 3px;
}

@media screen and (max-width: 900px) {
   .navbar {
      height: 60px;
      padding: 0 55px 0 55px;
   }

   .navbar__items {
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 2;
      width: 100%;
      height: 100vh;
      z-index: 9999;
      position: absolute;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      transform: translateY(40%);
      justify-content: space-evenly;
      transition: opacity 0.2s, transform 0.2s ease-in-out;
   }

   .navbar__link {
      padding-bottom: 5px;
      transition: padding-bottom 0.2s;
      border-bottom: 2px solid #000000;
   }

   .toggle-menu {
      z-index: 9999;
      display: flex;
   }

   .navbar--slide {
      opacity: 1;
      transform: translateX(0);
   }
}

@media screen and (min-width: 901px) {
   .navbar__brand {
      width: 65px;
      height: 65px;
   }

   .navbar__items {
      width: 50%;
      display: flex;
      justify-content: space-between;
   }

   .navbar__link {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1000px) {
   .navbar {
      padding: 0 95px 0 95px;
   }

   .navbar__items {
      width: 45%;
      display: flex;
      justify-content: space-between;
   }
}

@media screen and (min-width: 1200px) {
   .navbar {
      padding: 0 115px 0 115px;
   }

   .navbar__items {
      width: 37%;
      display: flex;
      justify-content: space-between;
   }
}

@media screen and (min-width: 1400px) {
   .navbar {
      padding: 0 175px 0 175px;
   }

   .navbar__items {
      width: 37%;
      display: flex;
      justify-content: space-between;
   }
}

@media screen and (min-width: 1680px) {
   .navbar {
      padding: 0 245px 0 245px;
   }

   .navbar__items {
      width: 32%;
      display: flex;
      justify-content: space-between;
   }
}
