@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.container {
   width: 550px;
   margin: 50px auto;
   text-align: center;
}

.alert {
   width: 100%;
   display: flex;
   color: #ffffff;
   padding: 8.3px;
   font-weight: bolder;
   margin-bottom: 55px;
   align-items: center;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #e26b47;
   justify-content: space-between;
}

.alert__message {
   font-size: 1rem;
   letter-spacing: 0.5px;
}

.alert__close-button {
   padding: 3px;
   cursor: pointer;
   font-size: 1.3rem;
   transition: color 0.2s;
}

.alert__close-button:hover {
   color: #38444d;
}

@media screen and (min-width: 1260px) {
   .alert__message {
      font-size: 0.9rem;
   }

   .alert {
      padding: 8px;
   }
}
