@import "../../css-variable/variable.css";

body {
	padding: 40px;
	background-color: var(--first);
}

.alert {
	width: 100%;
	display: flex;
	padding: 14px;
	border-radius: 3px;
	margin-bottom: 55px;
	align-items: center;
	font-family: monospace;
	background-color: #fff;
	border: 2px solid #ff4500;
	justify-content: space-between;
	box-shadow: 5px 5px 1px 1px #ff4500;
}

.alert__message {
	color: #ff4500;
	letter-spacing: 1px;
	font: bold 1rem var(--font-family);
}

.alert__close-button {
	cursor: pointer;
}

@media screen and (min-width: 760px) {
	.alert__message {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 1200px) {
	.alert__message {
		font-size: calc(0.9rem - 1px);
	}
}
