body {
	padding: 40px;
	background-color: var(--first);
}

.collapse {
	width: 100%;
}

.collapse-arrow-top {
	display: none;
}

.collapse__head {
	color: #000;
	border: none;
	outline: none;
	display: flex;
	padding: 14px;
	cursor: pointer;
	text-align: left;
	border-radius: 4px;
	align-items: center;
	letter-spacing: 0.5px;
	background-color: #fff;
	border: 2px solid #b8bec5;
	justify-content: space-between;
	transition: background-color 0.2s;
	box-shadow: 6px 6px 1px 1px #b8bec5;
	font: 1rem var(--application-ui-font);
}

.collapse__content {
	padding: 18px;
	display: none;
	margin-top: 25px;
	border-radius: 4px;
	word-wrap: break-word;
	letter-spacing: 0.8px;
	background-color: #fff;
	border: 3px solid #b8bec5;
	font: 400 1rem/24px var(--application-ui-font);
	box-shadow: 9px 9px 1px 1px #b8bec5;
}

.collapse--active {
	display: block;
}

.collapse__head--active,
.collapse__head:hover {
	background-color: var(--third);
}

@media screen and (min-width: 760px) {
	.collapse__head {
		font-size: 0.9rem;
	}

	.collapse__content {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 1200px) {
	.collapse__head {
		font-size: calc(0.9rem - 1px);
	}

	.collapse__content {
		font-size: calc(0.9rem - 1px);
	}
}
