body {
	padding: 100px;
}

/* ---------------------------- */

.collapse {
	margin-bottom: 1.4rem;
}

.collapse__button {
	width: 100%;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.5rem 1.6rem;
	font-size: var(--text-16x);
	justify-content: space-between;
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--neutral-400);
}

.collapse__button:disabled::after {
	color: #ababab;
}

.collapse__message {
	display: none;
	padding: 1.6rem;
	line-height: 2.7rem;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--neutral-400);
}

.collapse--active,
.collapse__button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #000;
}

.collapse-message--active {
	display: block;
}
