body {
   background-color: rgb(21, 32, 43);
}

/* for centering the component */
.container {
   width: 400px;
   margin: 50px auto;
}



form {
   width: 370px;
}

form .input-form {
   margin-top: 32px;
}

form .input-form label {
   color: white;
   font-size: 20px;
   font-weight: 520;
   font-family: monospace;
}

form .input-form input {
   width: 100%;
   border: none;
   color: white;
   padding: 12px;
   outline: none;
   display: block;
   font-size: 17px;
   transition: 0.2s;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form .input-form input:focus {
   background-color: #38444d;
}

form .input-form input::placeholder {
   font-family: monospace;
}

form button {
   width: 100%;
   border: none;
   outline: none;
   color: white;
   padding: 10px;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   transition: 0.2s;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form a {
   width: 100%;
   border: none;
   color: white;
   padding: 11px;
   outline: none;
   display: block;
   font-size: 18px;
   margin-top: 16px;
   text-align: center;
   text-decoration: none;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form button:hover,
form a:hover {
   background-color: #38444d;
}

form hr {
   border: 2px dashed rgb(37, 51, 65);
}