body {
   background-color: rgb(21, 32, 43);
}


:root {
   --dark-form-width: 370px;
}

/* for centering the component */
.container {
   width: 400px;
   margin: 80px auto;
}

form {
   width: var(--dark-form-width);
}

form .input-form {
   margin-top: 32px;
}

form .input-form label {
   color: white;
   font-size: 20px;
   font-weight: 520;
   font-family: monospace;
}

form .input-form input {
   width: 100%;
   border: none;
   color: white;
   padding: 12px;
   outline: none;
   display: block;
   font-size: 17px;
   transition: 0.2s;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form .input-form input:focus {
   background-color: #38444d;
}

form .input-form input::placeholder {
   font-family: monospace;
}

form button {
   width: 100%;
   border: none;
   outline: none;
   color: white;
   padding: 10px;
   cursor: default;
   font-size: 18px;
   margin-top: 45px;
   transition: 0.2s;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form button:disabled {
   pointer-events: none;
}

form a {
   width: 100%;
   border: none;
   color: white;
   padding: 11px;
   outline: none;
   display: block;
   font-size: 18px;
   margin-top: 16px;
   transition: 0.2s;
   text-align: center;
   text-decoration: none;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

form button:hover,
form a:hover {
   color: lightskyblue;
   background-color: rgb(25, 39, 52);
}

form hr {
   border: 2px dashed rgb(37, 51, 65);
}


/* validation style */

/* make elemen p disappear, when user not type any characters */
input+p {
   height: 0;
   opacity: 0;
   font-size: 16px;
   transition: 0.2s;
   color: orangered;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
}

/* when user input is invalid, add class invalid */
input.invalid+p {
   opacity: 1;
   height: auto;
   color: orangered;
   transition: 0.2s;
   margin-top: 10px;
   font-size: 16.5px;
   line-height: 23px;
   text-align: center;
   font-family: monospace;
}