body {
   background-color: #15202b;
}

.container {
   width: 400px;
   margin: 70px auto;
}

.toggle-menu {
   height: 20px;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
}

.toggle-menu__trigger {
   top: -7px;
   opacity: 0;
   z-index: 2;
   left: -11px;
   width: 42px;
   height: 27px;
   cursor: pointer;
   position: absolute;
}

.toggle-menu__block {
   width: 28px;
   height: 3px;
   display: block;
   border-radius: 10px;
   transition: all 0.3s;
   background-color: #ffffff;
}

.toggle-menu__block:nth-child(2) {
   transform-origin: 0 0;
}

.toggle-menu__block:nth-child(4) {
   transform-origin: 0 100%;
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(2) {
   background-color: #ffffff;
   transform: rotate(45deg) translate(1px, -1px);
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(3) {
   opacity: 0;
   transform: scale(0);
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(4) {
   background-color: #ffffff;
   transform: rotate(-45deg) translate(-1px, 1px);
}
