body {
   background-color: rgb(21, 32, 43);
}


:root {
   --dropdown-content-width: 160px;
}

/* for centering the component */
.container {
   width: 200px;
   margin: 10px auto;
}

.dropdown button.dropdown-btn {
   border: none;
   outline: none;
   color: white;
   padding: 10px;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   transition: 0.2s;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: rgb(37, 51, 65);
}

.dropdown button.dropdown-btn:hover {
   color: blueviolet;
}

.dropdown .dropdown-content {
   z-index: 1;
   width: var(--dropdown-content-width);
   display: none;
   font-size: 18px;
   position: absolute;
   font-family: monospace;
   background-color: #38444d;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-content a {
   float: none;
   color: white;
   display: block;
   text-align: left;
   padding: 12px 16px;
   text-decoration: none;
}

.dropdown .dropdown-content a:hover {
   transition: 0.2;
   color: blueviolet;
}