body {
	padding: 100px;
	background-color: var(--body-bg-color-light);
}

/* ---------------------------- */

.dropdown {
	width: fit-content;
	position: relative;
}

.dropdown__button {
	width: 100%;
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	color: var(--main-font-color-light);
	border: 0.1rem solid var(--neutral-400);
	background-color: var(--main-bg-color-component-light);
}

.dropdown__button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid var(--main-font-color-light);
}

.dropdown__button svg {
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 0.6rem;
	pointer-events: none;
}

.dropdown__button:disabled svg {
	stroke: #ababab;
}

.dropdown__items {
	top: 0;
	display: none;
	z-index: 9999;
	margin-top: 5.5rem;
	position: absolute;
	border-radius: 0.4rem;
	border: 0.1rem solid var(--neutral-400);
	background-color: var(--main-bg-color-component-light);
}

.dropdown__item {
	width: 100%;
	display: block;
	margin-bottom: 0.3rem;
	text-decoration: none;
	font-size: var(--text-16x);
	padding: 1rem 8rem 1rem 1.3rem;
	font-family: var(--font-family);
	color: var(--main-font-color-light);
}

.dropdown__item:first-child {
	border-radius: 0.4rem 0.4rem 0 0;
}

.dropdown__item:last-child {
	margin-bottom: 0;
	border-radius: 0 0 0.4rem 0.4rem;
}

.dropdown__item:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid var(--main-font-color-light);
}

.dropdown--collapse {
	display: block;
}
