body {
   background-color: rgb(21, 32, 43);
}


nav {
   height: 70px;
   display: flex;
   color: whitesmoke;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(21, 32, 43);
   box-shadow: 0 0 2px 4px rgba(64, 74, 77, 0.2);
}

nav .logo {
   font-size: 28px;
   font-family: monospace;
}

nav ul {
   width: 40%;
   display: flex;
   list-style: none;
   justify-content: space-evenly;
}

nav ul li a {
   font-size: 20px;
   color: whitesmoke;
   text-decoration: none;
   font-family: monospace;
}

nav ul li a:hover {
   color: blueviolet;
}