body {
	height: 100vh;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #7676803d;
	justify-content: space-between;
	padding: 1.6rem 1.4rem 1.6rem 1.8rem;
	border-bottom: 0.1rem solid #7676803d;
}

.navbar__brand {
	color: #fff;
	font-weight: 500;
	font-size: 2.2rem;
}

.navbar__brand:focus {
	outline-offset: 0.6rem;
	outline: 0.2rem solid #fff;
}

.navbar__btn-menu {
	border: 0;
	padding: 0.4rem;
	background-color: transparent;
}

.navbar__btn-menu svg {
	pointer-events: none;
}

.navbar__btn-menu:focus {
	outline-offset: -0.2rem;
	outline: 0.2rem solid #fff;
}

.navbar__menus {
	width: 100%;
	display: none;
	margin-top: 1.5rem;
}

.navbar__menu-item {
	list-style: none;
	margin-bottom: 2.1rem;
	padding-bottom: 0.5rem;
	font-size: var(--text-16x);
	border-bottom: 0.1rem solid #7676803d;
}

.navbar__menu-item:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.navbar__menu-item > a {
	color: #fff;
}

.navbar__menu-item > a:focus {
	outline-offset: 0.5rem;
	outline: 0.2rem solid #fff;
}

.navbar__menus--collapse {
	display: block;
}

@media screen and (min-width: 670px) {
	.navbar {
		padding-right: 1.8rem;
	}

	.navbar__btn-menu {
		display: none;
	}

	.navbar__menus {
		width: auto;
		display: flex;
		margin-top: 0;
		max-width: 100%;
	}

	.navbar__menu-item {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		margin-right: 4rem;
	}

	.navbar__menu-item:last-child {
		margin-right: 0;
	}
}
