body {
	background-color: var(--first);
}

.navbar {
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	display: flex;
	position: fixed;
	align-items: center;
	background-color: #fff;
	justify-content: space-between;
	box-shadow: var(--component-box-shadow);
}

.navbar__brand {
	color: #000;
	font: bold 1.4rem var(--font-family);
}

.navbar__items {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.navbar__link {
	color: #000;
	letter-spacing: 1.2px;
	text-decoration: none;
	font: 500 1rem var(--font-family);
}

.navbar__link:hover {
	color: #0000ff;
	text-decoration: underline;
}

.toggle-menu {
	display: none;
	cursor: pointer;
	margin-top: 3px;
}

@media screen and (max-width: 880px) {
	.navbar {
		height: 60px;
		padding: 0 60px 0 60px;
	}

	.navbar__items {
		top: 0;
		right: 0;
		opacity: 0;
		z-index: 1;
		width: 45%;
		height: 100vh;
		z-index: 9999;
		position: absolute;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		transform: translateX(40%);
		justify-content: space-evenly;
		box-shadow: var(--component-box-shadow);
		transition: opacity 0.2s, transform 0.2s ease-out;
	}

	.toggle-menu {
		z-index: 9999;
		display: inline-block;
	}

	.menu-close {
		display: none;
	}

	.navbar--slide {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (min-width: 851px) {
	.navbar {
		padding: 0 35px 0 35px;
	}

	.navbar__items {
		width: 68%;
	}
}

@media screen and (max-width: 670px) {
	.navbar__items {
		width: 56%;
	}
}

@media screen and (max-width: 560px) {
	.navbar {
		padding: 0 16px 0 16px;
	}

	.navbar__items {
		padding: 45px;
	}
}

@media screen and (min-width: 881px) {
	.navbar__link {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 900px) {
	.navbar__link {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 1000px) {
	.navbar {
		padding: 0 67px 0 67px;
	}

	.navbar__items {
		width: 65%;
	}
}

@media screen and (min-width: 1200px) {
	.navbar {
		padding: 0 97px 0 97px;
	}

	.navbar__items {
		width: 60%;
	}
}

@media screen and (min-width: 1500px) {
	.navbar {
		padding: 0 125px 0 125px;
	}

	.navbar__items {
		width: 54%;
	}
}

@media screen and (min-width: 1760px) {
	.navbar {
		padding: 0 175px 0 175px;
	}

	.navbar__items {
		width: 48%;
	}
}
