@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.modal-trigger-button {
   border: none;
   outline: none;
   padding: 10px;
   display: block;
   color: #000000;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin: 60px auto;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
}

.modal-trigger-button:hover {
   background-color: var(--third);
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   box-sizing: border-box;
   background-color: #00000066;
}

.modal__body {
   width: 88%;
   padding: 10px;
   color: #000000;
   margin: 40% auto;
   position: relative;
   border-radius: 4px;
   font-family: monospace;
   animation-duration: 0.4s;
   animation-name: animatetop;
   background-color: var(--second);
}

.modal__head {
   padding: 12px;
   font-size: 25px;
   font-weight: bold;
}

.modal__content {
   padding: 12px;
   font-size: 1rem;
   line-height: 25px;
}

.modal__footer {
   padding: 12px;
}

.modal__cancel-button,
.modal__submit-button {
   border: none;
   outline: none;
   padding: 10px;
   color: #000000;
   cursor: pointer;
   font-size: 0.9rem;
   margin-right: 18px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
}

.modal__cancel-button:hover,
.modal__submit-button:hover {
   background-color: var(--third);
}

@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }

   to {
      top: 0;
      opacity: 1;
   }
}
