@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.modal-trigger-button {
   border: none;
   outline: none;
   padding: 10px;
   display: block;
   color: #000000;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin: 60px auto;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
}

.modal-trigger-button:hover {
   background-color: var(--third);
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   background-color: #0000008c;
}

.modal__body {
   width: 88%;
   padding: 20px;
   color: #000000;
   margin: 40% auto;
   position: relative;
   box-sizing: border-box;
   background-color: var(--second);
   font-family: var(--font-family);
   animation: modalAnimation 0.3s ease-out;
}

.modal__head {
   font-size: 25px;
   font-weight: bold;
}

.modal__content {
   font-size: 1rem;
   margin-top: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   letter-spacing: 0.8px;
}

.modal__cancel-button,
.modal__submit-button {
   border: none;
   outline: none;
   padding: 10px;
   color: #000000;
   cursor: pointer;
   font-size: 1rem;
   margin-right: 18px;
   border-radius: 2px;
   letter-spacing: 1.2px;
   box-sizing: border-box;
   background-color: var(--second);
   font-family: var(--font-family);
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
}

.modal__cancel-button:hover,
.modal__submit-button:hover {
   background-color: var(--third);
}

@keyframes modalAnimation {
   from {
      opacity: 0;
      top: -300px;
   }

   to {
      top: 0;
      opacity: 1;
   }
}

@media screen and (min-width: 760px) {
   .modal__content,
   .modal__cancel-button,
   .modal__submit-button {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .modal__content,
   .modal__cancel-button,
   .modal__submit-button {
      font-size: calc(0.9rem - 1px);
   }
}
