@media screen and (min-width: 600px) {
   .modal__body {
      margin: 30% auto;
   }
}

@media screen and (min-width: 650px) {
   .modal__body {
      width: 92%;
   }
}

@media screen and (min-width: 700px) {
   .modal__body {
      width: 84%;
      margin: 27% auto;
   }
}

@media screen and (min-width: 760px) {
   .modal__head {
      font-size: 1.3rem;
   }

   .modal__content,
   .modal__close-button {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 820px) {
   .modal__body {
      width: 75%;
      margin: 23% auto;
   }
}

@media screen and (min-width: 920px) {
   .modal__body {
      width: 70%;
      margin: 22% auto;
   }
}

@media screen and (min-width: 990px) {
   .modal__body {
      width: 60%;
      margin: 22% auto;
   }
}

@media screen and (min-width: 1060px) {
   .modal__body {
      width: 56%;
      margin: 20% auto;
   }
}

@media screen and (min-width: 1090px) {
   .modal__body {
      width: 51%;
      margin: 19% auto;
   }
}

@media screen and (min-width: 1200px) {
   .modal__head {
      font-size: 1.3rem;
   }

   .modal__body {
      width: 51%;
      margin: 19% auto;
   }

   .modal__content,
   .modal__close-button {
      font-size: calc(0.9rem - 1px);
   }
}

@media screen and (min-width: 1250px) {
   .modal__head {
      font-size: 1.2rem;
   }

   .modal__body {
      width: 48%;
      margin: 16% auto;
   }
}

@media screen and (min-width: 1340px) {
   .modal__body {
      width: 47%;
      margin: 14% auto;
   }
}

@media screen and (min-width: 1480px) {
   .modal__body {
      width: 43%;
      margin: 13% auto;
   }
}

@media screen and (min-width: 1560px) {
   .modal__body {
      width: 39%;
      margin: 13% auto;
   }
}

@media screen and (min-width: 1701px) {
   .modal__body {
      width: 36%;
      margin: 12% auto;
   }
}

@media screen and (min-width: 1850px) {
   .modal__body {
      width: 33%;
      margin: 12% auto;
   }
}

@media screen and (min-width: 1900px) {
   .modal__body {
      width: 31%;
      margin: 12% auto;
   }
}
