body {
	padding: 100px;
}

/* ---------------------------- */

.button {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: var(--secondary-600);
	border: 0.1rem solid var(--secondary-700);
}

.button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #000;
}
