.mys-radio-input {
	--mys-radio-input-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");

	width: 1.9rem;
	height: 1.9rem;
	appearance: none;
	border-radius: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--mys-radio-input-bg-color-unchecked);
	border: 0.1rem solid var(--mys-radio-input-btn-border-color);
	transition:
		background-color ease-in-out 100ms,
		border-color ease-in-out 100ms;
}

.mys-radio-input:checked {
	background-image: var(--mys-radio-input-icon);
	border-color: var(--mys-radio-input-bg-color-checked);
	background-color: var(--mys-radio-input-bg-color-checked);
}

.mys-radio-input:disabled {
	opacity: 0.66;
	pointer-events: none;
}
