body {
   background-color: #f5f5f5;
}


/* for centering the component */
.container {
   width: 900px;
   margin: 50px auto;
}

.quote {
   padding: 15px;
   font-size: 20px;
   line-height: 28px;
   font-style: italic;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #fafafa;
   border-left: 10px solid #cccccc;
   box-shadow: 0 0 1px 1px #0000001a;
   quotes: "\201C""\201D""\2018""\2019";
}

.quote::before {
   color: #ccc;
   font-size: 80px;
   line-height: 7px;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}