@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


/* for centering the component */
.container {
   width: 900px;
   margin: 50px auto;
}

.quote {
   padding: 15px;
   font-size: 20px;
   line-height: 28px;
   font-style: italic;
   box-sizing: border-box;
   font-family: monospace;
   border-left: 10px solid #cccccc;
   quotes: "\201C""\201D""\2018""\2019";
   box-shadow: var(--component-box-shadow);
   background-color: var(--component-bg-color);
}

.quote::before {
   color: #ccc;
   font-size: 80px;
   line-height: 7px;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}