body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.input-wrapper {
	position: relative;
}

.input {
	width: 100%;
	color: #fff;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
	padding: 0.8rem 4.8rem 0.8rem 1.4rem;
}

.input:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.input::placeholder {
	color: #9b8484;
}

.input:disabled::placeholder {
	color: #5a5252;
}

.input:focus + .password-btn-toggle .password-input-icon {
	stroke: #fff;
}

.password-btn-toggle {
	top: 0;
	right: 0;
	border: none;
	margin-top: 0.7rem;
	position: absolute;
	margin-right: 1rem;
	border-radius: 100%;
	padding: 0.3rem 0.4rem;
	background-color: transparent;
}

.password-btn-toggle svg {
	width: 2.4rem;
	height: 2.4rem;
	pointer-events: none;
}

.password-btn-toggle:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.password-btn-toggle:focus svg {
	stroke: #fff;
}

.password-icon-unactive {
	display: none;
}
