body {
	padding: 100px;
}

/* ---------------------------- */

.radio-wrapper {
	position: relative;
	display: inline-block;
}

.radio-input {
	width: 2rem;
	z-index: 99;
	height: 2rem;
	cursor: pointer;
	appearance: none;
	position: relative;
	border-radius: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.radio-input:focus {
	outline-offset: 0.4rem;
	outline: 0.2rem solid var(--primary-900);
}

.radio-input::after {
	width: 100%;
	content: "";
	height: 100%;
	position: absolute;
	border-radius: 100%;
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--primary-900);
}

.radio-active-element {
	top: 0;
	opacity: 0;
	width: 1.2rem;
	height: 1.2rem;
	cursor: pointer;
	margin-top: 0.4rem;
	position: absolute;
	border-radius: 100%;
	margin-left: 0.41rem;
	background-color: var(--primary-900);
}

.radio-visible {
	opacity: 1;
	z-index: 999;
}
