body {
	padding: 100px;
}

/* ---------------------------- */

.info-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.2rem 1.4rem;
	background-color: var(--info-600);
	border: 0.1rem solid var(--info-700);
}

.info-alert__message {
	color: #fff;
	font-size: var(--text-16x);
}

.info-alert__icon {
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 1.4rem;
}
