body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.info-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.2rem 1.4rem;
	background-color: var(--info-700);
}

.info-alert__message {
	order: 2;
	color: #fff;
	font-size: var(--text-16x);
}

.info-alert__icon {
	order: 1;
	margin-right: 1.4rem;
}
