body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.secondary-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.1rem 1.4rem;
	justify-content: space-between;
	background-color: var(--secondary-600);
}

.secondary-alert__message {
	color: #fff;
	font-size: var(--text-16x);
}

.secondary-alert__close {
	border: none;
	padding: 0.2rem;
	border-radius: 100%;
	background-color: transparent;
	transition: background-color 100ms;
}

.secondary-alert__close > svg {
	pointer-events: none;
}

.secondary-alert__close:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.secondary-alert__close:hover {
	background-color: var(--secondary-700);
}
