body {
	padding: 100px;
}

/* ---------------------------- */

.secondary-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.2rem 1.4rem;
	background-color: var(--secondary-300);
}

.secondary-alert__message {
	color: var(--neutral-900);
	font-size: var(--text-16x);
}
