@import "../../style-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   padding: 17px;
   color: #000000;
   border-radius: 2px;
   box-sizing: border-box;
   background-color: #f9f9f9;
   transition: transform 0.2s;
   box-shadow: 0 0 2px 2px #0000001a;
}

/* .card__description {
   font-size: 1rem;
   line-height: 23px;
   letter-spacing: 0.5px;
   margin: 10px 0 25px 0;
   box-sizing: border-box;
   font-family: var(--font-family);
} */

.card__description {
   font-size: 1rem;
   line-height: 23px;
   white-space: pre-line;
   box-sizing: border-box;
   margin: -14px 0 25px 0;
   font-family: var(--font-family);
}

.card__date {
   float: right;
   font-size: 0.9rem;
   letter-spacing: 1px;
   font-family: monospace;
}

.card:hover {
   transform: translateY(-4px);
}

@media screen and (min-width: 760px) {
   .card__description {
      font-size: 0.9rem;
   }

   .card__date {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .card__description {
      font-size: calc(0.9rem - 1px + 0.5px);
   }

   .card__date {
      font-size: 0.8rem;
   }
}
