@import "../../style-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   color: #000000;
   border-radius: 2px;
   box-sizing: border-box;
   background-color: #f9f9f9;
   box-shadow: 0 0 2px 2px #0000001a;
}

.card__head {
   padding: 15px;
   margin-top: 3px;
   margin-bottom: 4px;
}

.card__profile-photo {
   float: left;
   width: 50px;
   height: 50px;
   border-radius: 100%;
   box-shadow: var(--component-box-shadow);
}

.card__username {
   float: left;
   color: #000000;
   font-size: 1rem;
   margin-top: 15px;
   margin-left: 18px;
   text-align: center;
   letter-spacing: 1px;
   text-decoration: none;
   font-family: var(--font-family);
   transition: padding-bottom 0.1s;
}

.card__image {
   width: 100%;
   height: 100%;
   margin-top: 15px;
   text-align: center;
}

.card__description {
   padding: 15px;
   font-size: 1rem;
   line-height: 23px;
   margin-top: -15px;
   margin-bottom: 17px;
   white-space: pre-line;
   box-sizing: border-box;
   font-family: var(--font-family);
}

.card__footer {
   float: right;
   padding: 15px;
   font-size: 0.9rem;
   letter-spacing: 1px;
   font-family: monospace;
}

.card__username:hover {
   padding-bottom: 4px;
   border-bottom: 2px solid #000000;
}

@media screen and (min-width: 760px) {
   .card__username {
      font-size: 1rem;
   }

   .card__description {
      font-size: 0.9rem;
   }

   .card__footer {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .card__username {
      font-size: 0.9rem;
   }

   .card__description {
      font-size: calc(0.9rem - 1px + 0.5px);
   }

   .card__footer {
      font-size: 0.8rem;
   }
}
