@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   padding: 17px;
   color: #000000;
   border-radius: 3px;
   box-sizing: border-box;
   background-color: #f9f9f9;
   transition: transform 0.2s;
   box-shadow: 0 0 2px 2px #0000001a;
}

/* .card__description {
   margin-top: -14px;
   margin-bottom: 25px;
   white-space: pre-line;
   word-wrap: break-word;
   box-sizing: border-box;
   font: 1rem/24px var(--font-family);
} */

/* Another Option */
.card__description {
   margin-top: 10px;
   margin-bottom: 25px;
   letter-spacing: 0.5px;
   word-wrap: break-word;
   box-sizing: border-box;
   font: 1rem/24px var(--font-family);
}

.card__date {
   float: right;
   font-weight: bold;
   letter-spacing: 1px;
   font: 0.9rem monospace;
}

.card:hover {
   transform: scale(1.01);
}

@media screen and (min-width: 760px) {
   .card__description {
      font-size: 0.9rem;
   }

   .card__date {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .card__description {
      font-size: calc(0.9rem - 1px + 0.5px);
   }

   .card__date {
      font-size: 0.8rem;
   }
}
