@import "../global/reset.css";
@import "../global/theme.css";

.field textarea {
	width: 100%;
	resize: vertical;
	line-height: 2.7rem;
	border-style: solid;
	padding: 1rem 1.2rem;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	font-family: var(--font-family);

	border-color: var(--neutral-400);
	color: var(--main-font-color-light);
	background-color: var(--neutral-50);
}

.field textarea:focus {
	outline: none;
	border-color: transparent;
	box-shadow: 0 0 0 0.2rem var(--main-font-color-light);
}

.field textarea:disabled {
	border-color: var(--primary-200);
	color: var(--main-font-color-light-disabled);
	background-color: var(--main-bg-color-component-light-disabled);
}

.field textarea:disabled::placeholder {
	color: var(--main-font-color-light-disabled);
}

.field label {
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
	font-family: var(--font-family);

	color: var(--main-font-color-light);
}
