@import "../global/reset.css";
@import "../global/theme.css";
@import "../global/container.css";

/* Just for documentation */
body {
	padding: 0;
}
/* Just for documentation */

.navbar {
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;

	border-bottom-color: var(--neutral-300);
}

.navbar__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar__brand {
	text-decoration: none;
}

.navbar__brand:focus {
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: 0.5rem;

	outline-color: #000;
}

.navbar__brand img {
	display: block;
}

.navbar__toggle-btn {
	border: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	background-color: transparent;
}

.navbar__toggle-btn svg {
	width: 3rem;
	height: auto;
	display: block;
	pointer-events: none;
}

.navbar__menus {
	gap: 4rem;
	width: auto;
	display: flex;
	max-width: 100%;
	align-items: center;
}

.navbar__menus a {
	font-size: 1.5rem;
	text-decoration: none;
	font-family: var(--font-family);

	color: #000;
}

.navbar__menus a:focus {
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: 0.5rem;

	outline-color: #000;
}

.navbar__toggle-btn {
	display: none;
	border-radius: 0;
}

@media screen and (max-width: 992px) {
	.navbar__menus {
		width: 100%;
		display: none;
		margin-top: 2rem;
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar__menus--collapse {
		gap: 2rem;
		display: flex;
	}

	.navbar__toggle-btn {
		display: block;
	}

	.navbar__toggle-btn:focus {
		outline-style: solid;
		outline-width: 0.2rem;
		outline-offset: 0.3rem;

		outline-color: #000;
	}
}
