@import "../global/reset.css";
@import "../global/theme.css";

.accordion__button {
	width: 100%;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	padding: 1.5rem 1.6rem;
	font-size: var(--text-16x);
	justify-content: space-between;
	transition: background-color 0.15s ease-in-out;

	border-color: var(--neutral-400);
	color: var(--main-font-color-light);
	background-color: var(--main-bg-color-component-light);
}

.accordion__button:active {
	background-color: var(--neutral-100);
}

.accordion__button:disabled {
	border-color: var(--primary-200);
	color: var(--main-font-color-light-disabled);
	background-color: var(--main-bg-color-component-light-disabled);
}

.accordion__button:disabled svg {
	stroke: var(--main-font-color-light-disabled);
}

.accordion__button svg {
	width: 2.4rem;
	height: 2.4rem;
	pointer-events: none;
	transition: transform 200ms;

	stroke: var(--main-font-color-light);
}

.accordion__message {
	display: none;
	padding: 1.6rem;
	margin-top: 1rem;
	line-height: 2.7rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	font-family: var(--font-family);

	border-color: var(--neutral-400);
	color: var(--main-font-color-light);
	background-color: var(--main-bg-color-component-light);
}

.accordion .accordion-message--active {
	display: block;
}

.accordion__button:active {
	background-color: var(--neutral-200);
}

.accordion__button:focus {
	z-index: 1;
	outline: none;
	position: relative;
	border-color: transparent;
	box-shadow: 0 0 0 0.2rem var(--main-font-color-light);
}

.accordion--active svg {
	transform: rotate(180deg);
}
