@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

form {
   width: 100%;
}

.input-form {
   margin-top: 32px;
}

.input-form__label {
   color: #ffffff;
   letter-spacing: 1px;
   font: 1rem var(--font-family);
}

.input-form__input {
   width: 100%;
   outline: none;
   padding: 11px;
   display: block;
   color: #ffffff;
   margin-top: 15px;
   border-radius: 2px;
   letter-spacing: 1.2px;
   box-sizing: border-box;
   font: 1rem var(--font-family);
   background-color: var(--second);
   border: 2px solid var(--fourth);
   transition: background-color 0.2s;
}

.button-form {
   width: 100%;
   padding: 10px;
   outline: none;
   color: #ffffff;
   cursor: pointer;
   margin-top: 34px;
   border-radius: 2px;
   letter-spacing: 1.2px;
   box-sizing: border-box;
   font: 1rem var(--font-family);
   background-color: var(--second);
   border: 2px solid var(--fourth);
   transition: color 0.2s, background-color 0.2s;
}

.redirect-button-form {
   width: 100%;
   padding: 11px;
   outline: none;
   display: block;
   color: #ffffff;
   text-align: center;
   letter-spacing: 1.2px;
   text-decoration: none;
   box-sizing: border-box;
   font: 1rem var(--font-family);
   background-color: var(--second);
   border: 2px solid var(--fourth);
   transition: color 0.2s, background-color 0.2s;
}

.line-space-button {
   margin-block: 22px;
   border: 1px solid var(--fourth);
}

.input-form__input:focus {
   background-color: var(--first);
}

.input-form__input::placeholder {
   letter-spacing: 1px;
   font-family: monospace;
}

.button-form:disabled {
   pointer-events: none;
}

.button-form:hover,
.redirect-button-form:hover {
   background-color: var(--first);
}

.button-form:focus,
.redirect-button-form:focus {
   background-color: var(--fourth);
}

@media screen and (min-width: 760px) {
   .button-form,
   .input-form__label,
   .input-form__input,
   .redirect-button-form {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .button-form,
   .input-form__label,
   .input-form__input,
   .redirect-button-form {
      font-size: calc(0.9rem + 1px);
   }
}
