@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


/* for centering the component */
.container {
   width: 370px;
   margin: 80px auto;
}


form {
   width: 100%;
}

.input-form {
   margin-top: 32px;
}

.input-form__label {
   font-size: 20px;
   font-family: monospace;
   color: var(--component-font-color);
}

.input-form__input {
   width: 100%;
   border: none;
   padding: 12px;
   outline: none;
   display: block;
   font-size: 17px;
   margin-top: 15px;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   border: 1px solid var(--component-border-color);
}

.input-form__input:focus {
   background-color: var(--component-hover-color);
}

.input-form__input::placeholder {
   font-family: monospace;
}

.button-form {
   width: 100%;
   border: none;
   outline: none;
   padding: 10px;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   transition: color 0.2s, background-color 0.2s;
   border: 1px solid var(--component-border-color);
}

.redirect-button-form {
   width: 100%;
   border: none;
   padding: 11px;
   outline: none;
   display: block;
   font-size: 18px;
   margin-top: 16px;
   text-align: center;
   text-decoration: none;
   font-family: monospace;
   box-sizing: border-box;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   transition: color 0.2s, background-color 0.2s;
   border: 1px solid var(--component-border-color);
}

.button-form:hover,
.redirect-button-form:hover {
   background-color: var(--component-hover-color);
}