@import url(../../../css-variables/variable.css);

body {
	padding: 80px;
	background-color: var(--white);
}

.input {
	position: relative;
}

.input__comp {
	width: 100%;
	outline: none;
	border-radius: 5px;
	color: var(--black);
	transition: border 0.2s;
	padding: 9px 16px 9px 52px;
	font: 400 16px var(--font);
	border: 1px solid var(--light-color-border);
}

.input__icon {
	top: 0;
	left: 0;
	margin-top: 12px;
	margin-left: 15px;
	position: absolute;
	stroke: var(--dark-200);
	transition: stroke 0.2s;
}

.input__comp:disabled {
	cursor: not-allowed;
	background-color: var(--dark-50);
}

.input__comp::placeholder {
	color: var(--dark-200);
}

.input__comp:focus {
	border: 1px solid var(--dark-600);
}

.input__comp:focus ~ .input__icon {
	stroke: var(--dark-600);
}

.input__comp:disabled ~ .input__icon {
	pointer-events: none;
}
