body {
   background-color: #f5f5f5;
}


.container {
   width: 500px;
   margin: 50px auto;
}

.input-form__label {
   display: block;
   color: #000000;
   font-size: 20px;
   font-weight: 520;
   font-family: monospace;
}

.input-form__input {
   width: 80%;
   float: left;
   border: none;
   padding: 12px;
   outline: none;
   color: #000000;
   font-size: 17px;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: #fafafa;
   transition: background-color 0.2s;
   box-shadow: 0 0 1px 1px #0000001a;
}

.input-form__input:focus {
   background-color: #f3ebea;
}

.input-form__input::placeholder {
   font-family: monospace;
}

.input-form__button {
   float: left;
   border: none;
   outline: none;
   padding: 12px;
   color: #000000;
   cursor: pointer;
   font-size: 17px;
   margin-top: 15px;
   margin-left: 8px;
   letter-spacing: 2px;
   box-sizing: border-box;
   background-color: #fafafa;
   box-shadow: 0 0 1px 1px #0000001a;
   font-family: Arial, Helvetica, sans-serif;
   transition: color 0.2s, background-color 0.2s;
}

.input-form__button:hover {
   background-color: #f3ebea;
}