@import "../../color-variables/style.css";

body {
   background-color: var(--body-bg-color);
}

.container {
   width: 500px;
   margin: 40px auto;
}

select {
   width: 100%;
   border: none;
   outline: none;
   padding: 12px;
   color: #000000;
   cursor: pointer;
   font-size: 16px;
   -moz-appearance: none;
   box-sizing: border-box;
   font-family: monospace;
   -webkit-appearance: none;
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
   background-color: var(--component-bg-color);
}

select:hover {
   background-color: var(--component-hover-color);
}
