body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.collapse__button {
	width: 100%;
	color: #fff;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.5rem 1.6rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	justify-content: space-between;
	border: 0.1rem solid #7676803d;
}

.collapse__button svg {
	pointer-events: none;
}

.collapse__message {
	color: #fff;
	display: none;
	padding: 1.6rem;
	line-height: 2.7rem;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
}

.collapse--active,
.collapse__button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.collapse-message--active {
	display: block;
}

.collapse--active svg {
	transform: rotate(180deg);
}
