@import "../global/reset.css";
@import "../global/theme.css";

.input {
	width: 100%;
}

.input input {
	width: 100%;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);

	border-color: var(--neutral-400);
	background-color: var(--neutral-50);
	color: var(--main-font-color-light);
}

.input input:focus {
	outline: none;
	border-color: transparent;
	box-shadow: 0 0 0 0.2rem var(--main-font-color-light);
}

.input input:disabled {
	border-color: var(--primary-200);
	color: var(--main-font-color-light-disabled);
	background-color: var(--main-bg-color-component-light-disabled);
}

.input input:disabled::placeholder {
	color: var(--main-font-color-light-disabled);
}

.input input:disabled + svg.input__left-icon {
	stroke: var(--main-font-color-light-disabled);
}

.input.input--icon {
	position: relative;
}

.input svg.input__left-icon {
	stroke: #7d7575;
}

.input.input--icon input {
	padding-left: 4.8rem;
}

.input svg.input__left-icon {
	left: 0;
	top: 50%;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin-left: 1.4rem;
	transform: translateY(-50%);
}

.input label {
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
	font-family: var(--font-family);

	color: var(--main-font-color-light);
}

.input .input__wrapper {
	width: 100%;
	position: relative;
}

.input .input__wrapper input {
	width: 100%;
}

.input.input--icon input:focus + svg.input__left-icon {
	stroke: var(--main-font-color-light);
}
