@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.container {
   width: 900px;
   margin: 50px auto;
}

.quote {
   padding: 18px;
   font-size: 1rem;
   line-height: 26px;
   font-style: italic;
   box-sizing: border-box;
   font-family: monospace;
   color: #ffffff;
   quotes: "\201C""\201D""\2018""\2019";
   background-color: var(--first);
   border: 1px solid var(--fourth);
   border-left: 15px solid var(--fourth);
}

.quote::before {
   line-height: 7px;
   font-size: 3.4rem;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}

@media screen and (min-width: 900px) {
   .quote {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .quote {
      line-height: 28px;
   }
}
