@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.container {
   width: 900px;
   margin: 50px auto;
}

.quote {
   padding: 17px;
   color: #ffffff;
   border-radius: 3px;
   letter-spacing: 1px;
   word-wrap: break-word;
   box-sizing: border-box;
   background: var(--sixth);
   border: 2px solid var(--fourth);
   quotes: "\201C""\201D""\2018""\2019";
   border-left: 15px solid var(--fourth);
   font: italic 1rem/24px var(--font-family);
}

.quote::before {
   font-size: 3rem;
   line-height: 7px;
   margin-right: 10px;
   content: open-quote;
   vertical-align: -0.4em;
}

@media screen and (min-width: 760px) {
   .quote {
      line-height: 27px;
      font-size: calc(0.9rem + 1px);
   }
}

@media screen and (min-width: 1200px) {
   .quote {
      font-size: 0.9rem;
   }
}
