body {
   background-color: #15202b;
}


/* for centering components */
.container {
   width: 900px;
   margin: 50px auto;
}

blockquote.dark-quote {
   padding: 20px;
   color: #ffffff;
   font-size: 20px;
   line-height: 28px;
   font-style: italic;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #192734;
   border: 1px solid #38444d;
   border-left: 15px solid #38444d;
   quotes: "\201C""\201D""\2018""\2019";
}

blockquote.dark-quote::before {
   font-size: 80px;
   line-height: 7px;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}