@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.container {
   width: 600px;
   margin: 50px auto;
}

.collapse__button {
   width: 100%;
   border: none;
   outline: none;
   padding: 13px;
   cursor: pointer;
   font-size: 1rem;
   text-align: left;
   font-family: monospace;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: #000000;
   box-shadow: var(--component-box-shadow);
   background-color: var(--second);
}

.collapse__icon {
   float: right;
   font-weight: bolder;
}

.collapse__content {
   padding: 18px;
   display: none;
   font-size: 1rem;
   overflow: hidden;
   line-height: 25px;
   letter-spacing: 1px;
   box-sizing: border-box;
   font-family: monospace;
   color: #000000;
   box-shadow: var(--component-box-shadow);
   background-color: var(--second);
   border-left: 1px solid var(--third);
   border-right: 1px solid var(--third);
   border-bottom: 1px solid var(--third);
}

.collapse__button--active,
.collapse__button:hover {
   background-color: var(--third);
}

@media screen and (min-width: 900px) {
   .collapse__button {
      padding: 12px;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
   }

   .collapse__content {
      font-size: 0.9rem;
   }
}
