@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.container {
   width: 600px;
   margin: 50px auto;
}

.collapse__button {
   width: 100%;
   border: none;
   outline: none;
   padding: 13px;
   color: #000000;
   cursor: pointer;
   font-size: 1rem;
   text-align: left;
   letter-spacing: 0.5px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   font-family: var(--font-family);
   transition: background-color 0.2s;
   box-shadow: var(--component-box-shadow);
}

.collapse__icon {
   float: right;
   font-weight: bolder;
}

.collapse__content {
   padding: 18px;
   display: none;
   color: #000000;
   font-size: 1rem;
   overflow: hidden;
   line-height: 23px;
   letter-spacing: 0.8px;
   box-sizing: border-box;
   border: 1px solid var(--third);
   background-color: var(--second);
   font-family: var(--font-family);
   box-shadow: var(--component-box-shadow);
}

.collapse__button--active,
.collapse__button:hover {
   background-color: var(--third);
}

@media screen and (min-width: 760px) {
   .collapse__button {
      font-size: 0.9rem;
   }

   .collapse__content {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .collapse__button {
      font-size: calc(0.9rem - 1px);
   }

   .collapse__content {
      font-size: calc(0.9rem - 1px);
   }
}
