@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.container {
   width: 600px;
   margin: 50px auto;
}
/* for centering element */

.collapse__head {
   width: 100%;
   border: none;
   outline: none;
   padding: 13px;
   color: #000000;
   cursor: pointer;
   font-size: 1rem;
   text-align: left;
   letter-spacing: 0.5px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   font-family: var(--font-family);
   transition: background-color 0.1s;
   box-shadow: var(--component-box-shadow);
}

.collapse__icon {
   float: right;
   font-weight: bolder;
}

.collapse__content {
   padding: 18px;
   display: none;
   color: #000000;
   font-size: 1rem;
   line-height: 23px;
   margin-top: 1.6px;
   word-wrap: break-word;
   letter-spacing: 0.8px;
   box-sizing: border-box;
   border: 1px solid var(--third);
   background-color: var(--second);
   font-family: var(--font-family);
   box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.collapse__head--active,
.collapse__head:hover {
   background-color: var(--third);
}

@media screen and (min-width: 760px) {
   .collapse__head {
      font-size: 0.9rem;
   }

   .collapse__content {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .collapse__head {
      font-size: calc(0.9rem - 1px);
   }

   .collapse__content {
      font-size: calc(0.9rem - 1px);
   }
}
