body {
   background-color: #15202b;
}

<<<<<<< HEAD
nav {
=======

.navbar {
>>>>>>> change-class-name-structure
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   height: 65px;
   display: flex;
   position: fixed;
   overflow: hidden;
   align-items: center;
   background-color: #15202b;
   justify-content: space-around;
   box-shadow: 0 0 2px 4px #404a4d33;
}

<<<<<<< HEAD
nav ul {
   width: 20%;
   display: flex;
   justify-content: space-between;
}

nav ul li {
   display: inline;
}

nav ul li span {
   margin-right: 3px;
}

nav .logo {
=======
.navbar__logo {
>>>>>>> change-class-name-structure
   width: 65px;
   height: 65px;
   background-size: cover;
   transition: box-shadow 0.2s;
   background-repeat: no-repeat;
   background-position: -1px 2px;
   box-shadow: 0 0 1px 1px #404a4d33;
   background-image: url(../img/logo.png);
<<<<<<< HEAD
}

nav .logo:hover {
   box-shadow: 0 0 5px 5px #404a4d33;
}

nav ul li a {
=======
}

.navbar__logo:hover {
   box-shadow: 0 0 5px 5px #404a4d33;
}

.navbar__items {
   width: 20%;
   display: flex;
   justify-content: space-between;
}

.items__item {
   display: inline;
}

.item__link {
>>>>>>> change-class-name-structure
   color: #ffffff;
   font-size: 20px;
   text-decoration: none;
   font-family: monospace;
   transition: color 0.2s;
}

.item__link:hover {
   color: #8a2be2;
}

.link__slash-icon {
   margin-right: 3px;
}