@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.navbar {
   top: 0;
   left: 0;
   right: 0;
   height: 64px;
   display: flex;
   position: fixed;
   align-items: center;
   background-color: var(--first);
   justify-content: space-between;
   border-bottom: 3px solid var(--seventh);
}

.navbar__brand {
   color: #ffffff;
   font: bold 1.4rem var(--font-family);
}

.navbar__items {
   width: 40%;
   display: flex;
   justify-content: space-between;
}

.navbar__link {
   color: #ffffff;
   letter-spacing: 1.2px;
   text-decoration: none;
   transition: color 0.2s;
   font: 500 1rem var(--font-family);
}

.navbar__link:hover,
.navbar__link:focus {
   color: #8a2be2;
}

.toggle-menu {
   height: 20px;
   display: none;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
}

.toggle-menu__trigger {
   top: -7px;
   opacity: 0;
   z-index: 2;
   left: -10px;
   width: 40px;
   height: 27px;
   cursor: pointer;
   position: absolute;
}

.toggle-menu__block {
   width: 28px;
   height: 3px;
   display: block;
   border-radius: 3px;
   transition: all 0.3s;
   background-color: #ffffff;
}

.toggle-menu__block:nth-child(2) {
   transform-origin: 0 0;
}

.toggle-menu__block:nth-child(4) {
   transform-origin: 0 100%;
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(2) {
   background-color: #ffffff;
   transform: rotate(45deg) translate(1px, -1px);
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(3) {
   opacity: 0;
   transform: scale(0);
}

.toggle-menu__trigger:checked ~ .toggle-menu__block:nth-child(4) {
   background-color: #ffffff;
   transform: rotate(-45deg) translate(-1px, 1px);
}

@media screen and (max-width: 560px) {
   .navbar__items {
      padding: 45px;
   }
}

@media screen and (max-width: 670px) {
   .navbar__items {
      width: 56%;
   }
}

@media screen and (min-width: 851px) {
   .navbar {
      padding: 0 35px 0 35px;
   }

   .navbar__items {
      width: 68%;
   }
}

@media screen and (max-width: 880px) {
   .navbar {
      height: 60px;
      padding: 0 60px 0 60px;
   }

   .navbar__items {
      top: 0;
      right: 0;
      opacity: 0;
      width: 45%;
      height: 100vh;
      z-index: 9999;
      position: absolute;
      align-items: center;
      flex-direction: column;
      transform: translateX(40%);
      justify-content: space-evenly;
      background-color: var(--first);
      border-left: 3px solid var(--seventh);
      transition: opacity 0.2s, transform 0.2s ease-out;
   }

   .toggle-menu {
      z-index: 9999;
      display: flex;
   }

   .navbar--slide {
      opacity: 1;
      transform: translateX(0);
   }
}

@media screen and (min-width: 881px) {
   .navbar__link {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 900px) {
   .navbar__link {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1000px) {
   .navbar {
      padding: 0 67px 0 67px;
   }

   .navbar__items {
      width: 65%;
   }
}

@media screen and (min-width: 1200px) {
   .navbar {
      padding: 0 97px 0 97px;
   }

   .navbar__items {
      width: 60%;
   }
}

@media screen and (min-width: 1500px) {
   .navbar {
      padding: 0 125px 0 125px;
   }

   .navbar__items {
      width: 54%;
   }
}

@media screen and (min-width: 1760px) {
   .navbar {
      padding: 0 175px 0 175px;
   }

   .navbar__items {
      width: 48%;
   }
}
