body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.code-container {
	overflow-x: auto;
	position: relative;
	border-radius: 0.4rem;
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
	padding: 0 2.4rem 1.2rem 2.4rem;
}

.code-container::-webkit-scrollbar {
	background-color: var(--primary-800);
}

.code-container::-webkit-scrollbar-thumb {
	background-color: var(--primary-600);
}

.code-block {
	color: #fff;
	font: 500 var(--text-16x) / 2.5rem monospace;
}

.code-copy {
	top: 0;
	right: 0;
	color: #fff;
	border: none;
	padding: 0.7rem;
	margin-top: 1rem;
	position: absolute;
	margin-right: 1.6rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
}

.code-copy:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.code-copy:disabled {
	background-color: var(--primary-600);
}
