body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.bouncer {
	width: 10rem;
	display: flex;
	height: 10rem;
	align-items: center;
	margin: -3rem 0 0 -3rem;
	justify-content: space-around;
}

.bouncer-ball {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background-color: #fff;
	animation: bouncer 500ms ease-in-out infinite alternate;
}

.bouncer-ball:nth-child(2) {
	animation-delay: 100ms;
}

.bouncer-ball:nth-child(3) {
	animation-delay: 200ms;
}

.bouncer-ball:nth-child(3) {
	animation-delay: 300ms;
}

.bouncer-ball:nth-child(4) {
	animation-delay: 400ms;
}

@keyframes bouncer {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10rem);
	}
}
