@import "../../css-variable/variable.css";

body {
	padding: 100px;
	background-color: var(--first);
}

.form {
	width: 100%;
}

.form__wrapper {
	margin-top: 32px;
}

.form__label {
	color: #000;
	letter-spacing: 1px;
	font: 1rem var(--font-family);
}

.form__input {
	width: 100%;
	color: #000;
	border: none;
	padding: 10px;
	outline: none;
	display: block;
	margin-top: 15px;
	border-radius: 4px;
	background-color: #fff;
	border: 2px solid #b8bec5;
	font: 1rem var(--font-family);
	transition: background-color 0.2s;
	box-shadow: 5px 5px 1px 1px #b8bec5;
}

.form__btn {
	width: 100%;
	color: #000;
	border: none;
	outline: none;
	padding: 10px;
	cursor: pointer;
	margin-top: 40px;
	border-radius: 4px;
	letter-spacing: 1px;
	background-color: #fff;
	border: 2px solid #b8bec5;
	font: 1rem var(--font-family);
	transition: background-color 0.2s;
	box-shadow: 5px 5px 1px 1px #b8bec5;
}

.form__redirect {
	width: 100%;
	color: #000;
	border: none;
	outline: none;
	padding: 10px;
	display: block;
	text-align: center;
	border-radius: 4px;
	letter-spacing: 1px;
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #b8bec5;
	font: 1rem var(--font-family);
	transition: background-color 0.2s;
	box-shadow: 5px 5px 1px 1px #b8bec5;
}

.form__input:focus {
	background-color: var(--first);
}

.form__input::placeholder {
	font-family: monospace;
}

.form__btn:disabled {
	pointer-events: none;
}

.form__btn:hover,
.form__redirect:hover {
	background-color: var(--first);
}

.form__btn:focus,
.form__redirect:focus {
	background-color: var(--first);
}

.form__line {
	margin-top: 23px;
	margin-bottom: 17px;
	border-radius: 10px;
	border: 1px solid #b8bec5;
}
