/* validation style */

/* make elemen p disappear, when user not type any characters */
.input-form__message {
   height: 0;
   opacity: 0;
   color: #ff0000;
   text-align: right;
   transition: all 0.2s;
   font-family: monospace;
   text-shadow: 0.4px 0.4px #0000001a;
}

/* when user input is invalid, add class invalid */
.input-form__input--invalid + .input-form__message {
   opacity: 1;
   height: auto;
   color: #ff0000;
   margin-top: 15px;
   text-align: right;
   letter-spacing: 0.8px;
   font-family: monospace;
   font-size: calc(1rem - 1px);
   text-shadow: 0.6px 0.4px #0000001a;
}

@media screen and (min-width: 760px) {
   .input-form__input--invalid + .input-form__message {
      font-size: calc(1rem - 2.3px);
   }
}

@media screen and (min-width: 1200px) {
   .input-form__input--invalid + .input-form__message {
      font-size: calc(1rem - 3.3px);
   }
}
