@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.modal-trigger-button {
   outline: none;
   padding: 10px;
   display: block;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   margin: 60px auto;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   transition: background-color 0.2s;
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   box-sizing: border-box;
   background-color: #00000066;
}

.modal__body {
   width: 88%;
   padding: 10px;
   color: #ffffff;
   margin: 40% auto;
   position: relative;
   border-radius: 4px;
   animation-duration: 0.4s;
   animation-name: animatetop;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   font-family: var(--font-family);
}

.modal__head {
   padding: 12px;
   font-size: 1.5rem;
   font-weight: bolder;
}

.modal__content {
   padding: 12px;
   font-size: 1rem;
   line-height: 23px;
   letter-spacing: 0.8px;
}

.modal__footer {
   padding: 12px;
}

.modal__cancel-button,
.modal__submit-button {
   outline: none;
   padding: 10px;
   color: #ffffff;
   cursor: pointer;
   font-size: 1rem;
   margin-right: 18px;
   letter-spacing: 1.2px;
   box-sizing: border-box;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   font-family: var(--font-family);
   transition: background-color 0.2s;
}

.modal-trigger-button:hover {
   background-color: var(--third);
}

.modal__cancel-button:hover,
.modal__submit-button:hover {
   background-color: var(--first);
}

.modal__cancel-button:focus,
.modal__submit-button:focus {
   background-color: var(--fourth);
}

@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0;
   }

   to {
      top: 0;
      opacity: 1;
   }
}

@media screen and (min-width: 760px) {
   .modal__content,
   .modal__cancel-button,
   .modal__submit-button {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .modal__content,
   .modal__cancel-button,
   .modal__submit-button {
      font-size: calc(0.9rem - 1px);
   }
}
