@import "../../color-variables/style.css";

body {
   background-color: var(--first);
}

.modal-trigger-button {
   border: none;
   outline: none;
   padding: 10px;
   display: block;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin: 60px auto;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   color: #ffffff;
   transition: background-color 0.2s;
   background-color: var(--second);
   border: 1px solid var(--fourth);
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   box-sizing: border-box;
   background-color: #00000066;
}

.modal__body {
   width: 88%;
   padding: 10px;
   margin: 40% auto;
   border-radius: 4px;
   font-family: monospace;
   color: #ffffff;
   background-color: var(--second);
   border: 1px solid var(--fourth);
}

.modal__head {
   padding: 12px;
   font-size: 1.5rem;
   font-weight: bold;
}

.modal__content {
   padding: 12px;
   font-size: 1rem;
   line-height: 25px;
}

.modal__footer {
   padding: 12px;
}

.modal__cancel-button,
.modal__submit-button {
   border: none;
   outline: none;
   padding: 10px;
   cursor: pointer;
   font-size: 0.9rem;
   margin-right: 18px;
   font-family: monospace;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: #ffffff;
   background-color: var(--second);
   border: 1px solid var(--fourth);
}

.modal-trigger-button:hover {
   background-color: var(--third);
}

.modal__cancel-button:hover,
.modal__submit-button:hover {
   background-color: var(--first);
}

.modal__cancel-button:focus,
.modal__submit-button:focus {
   background-color: var(--fourth);
}
