@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.modal-trigger-button {
   outline: none;
   padding: 10px;
   display: block;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   margin: 60px auto;
   font-family: monospace;
   box-sizing: border-box;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   transition: background-color 0.2s;
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   background-color: #0e020266;
}

.modal__body {
   width: 100%;
   padding: 20px;
   color: #ffffff;
   margin: 40% auto;
   position: relative;
   box-sizing: border-box;
   font-family: var(--font-family);
   border-top: 3px solid var(--fourth);
   border-bottom: 3px solid var(--fourth);
   animation: modalAnimation 0.3s ease-out;
   background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 30, 60, 1) 0%
   );
}

.modal__head {
   font-size: 1.5rem;
   font-weight: bolder;
   word-wrap: break-word;
}

.modal__content {
   font-size: 1rem;
   margin-top: 20px;
   line-height: 23px;
   margin-bottom: 20px;
   letter-spacing: 0.8px;
   word-wrap: break-word;
}

.modal__cancel-button,
.modal__submit-button {
   outline: none;
   padding: 10px;
   color: #ffffff;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 2px;
   margin-right: 18px;
   letter-spacing: 1.2px;
   box-sizing: border-box;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   font-family: var(--font-family);
   transition: background-color 0.2s;
}

.modal-trigger-button:hover {
   background-color: var(--third);
}

.modal__cancel-button:hover,
.modal__submit-button:hover {
   background-color: var(--first);
}

.modal__cancel-button:focus,
.modal__submit-button:focus {
   background-color: var(--fourth);
}

@keyframes modalAnimation {
   from {
      opacity: 0;
      top: -300px;
   }

   to {
      top: 0;
      opacity: 1;
   }
}
