body {
   background-color: #15202b;
}


:root {
   --modal-width: 600px;
}

.modal-trigger-button {
   border: none;
   outline: none;
   padding: 10px;
   display: block;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin: 60px auto;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.modal-trigger-button:hover {
   background-color: #38444d;
}

.modal {
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
   position: fixed;
   box-sizing: border-box;
   background-color: #00000066;
}

.modal__body {
   padding: 10px;
   color: #ffffff;
   margin: 10% auto;
   position: relative;
   font-family: monospace;
   animation-duration: 0.4s;
   width: var(--modal-width);
   animation-name: animatetop;
   background-color: #2c323a;
}

.modal-body__head {
   padding: 12px;
   font-size: 25px;
   font-weight: bolder;
}

.modal-body__content {
   padding: 12px;
   font-size: 16px;
   line-height: 23px;
}

.modal-body__footer {
   padding: 12px;
}

.footer__cancel-button,
.footer__submit-button {
   border: none;
   outline: none;
   padding: 10px;
   color: #f5f5f5;
   cursor: pointer;
   font-size: 16px;
   margin-right: 18px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #1f2831;
   transition: background-color 0.2s;
}

.footer__cancel-button:hover,
.footer__submit-button:hover {
   background-color: #38444d;
}


@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}