@import url(../../../css-variables/variable.css);

body {
	padding: 80px;
	background-color: var(--black);
}

.input {
	width: 100%;
	position: relative;
}

.input__comp {
	width: 100%;
	outline: none;
	border-radius: 5px;
	color: var(--white);
	transition: border 0.2s;
	padding: 9px 16px 9px 52px;
	font: 400 16px var(--font);
	background-color: transparent;
	border: 1px solid var(--dark-700);
}

.input__icon {
	top: 0;
	left: 0;
	margin-top: 12px;
	margin-left: 14px;
	position: absolute;
	stroke: var(--dark-700);
	transition: stroke 0.2s;
}

.input__comp:disabled {
	cursor: not-allowed;
	background-color: var(--dark-disabled-color);
}

.input__comp:focus {
	border: 1px solid var(--dark-300);
}

.input__comp:focus ~ .input__icon {
	stroke: var(--dark-300);
}

.input__comp:disabled ~ .input__icon {
	pointer-events: none;
}
