@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


.container {
   width: 500px;
   margin: 40px auto;
}

.searchbar__input {
   width: 80%;
   float: left;
   border: none;
   padding: 12px;
   outline: none;
   font-size: 17px;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   border: 1px solid var(--component-border-color);
}

.searchbar__input:focus {
   background-color: var(--component-hover-color);
}

.searchbar__input::placeholder {
   font-family: monospace;
}

.searchbar__button {
   float: left;
   border: none;
   outline: none;
   padding: 12px;
   color: #ffffff;
   cursor: pointer;
   font-size: 17px;
   margin-left: 8px;
   letter-spacing: 2px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--component-bg-color);
   transition: color 0.2s, background-color 0.2s;
   border: 1px solid var(--component-border-color);
}

.searchbar__button:hover {
   background-color: var(--component-hover-color);
}