body {
   background-color: #15202b;
}


.container {
   width: 500px;
   margin: 40px auto;
}

.searchbar__input {
   width: 80%;
   float: left;
   border: none;
   padding: 12px;
   outline: none;
   color: #ffffff;
   font-size: 17px;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.searchbar__input:focus {
   background-color: #38444d;
}

.searchbar__input::placeholder {
   font-family: monospace;
}

.searchbar__button {
   float: left;
   border: none;
   outline: none;
   padding: 12px;
   color: #ffffff;
   cursor: pointer;
   font-size: 17px;
   letter-spacing: 2px;
   box-sizing: border-box;
   background-color: #38444d;
   font-family: Arial, Helvetica, sans-serif;
   transition: color 0.2s, background-color 0.2s;
}

.searchbar__button:hover {
   background-color: #192734;
}