body {
   background-color: #15202b;
}


.container {
   width: 500px;
   margin: 50px auto;
}

.input-form label {
   color: #ffffff;
   font-size: 20px;
   font-weight: 520;
   font-family: monospace;
   display: block;
}

.input-form input {
   width: 80%;
   border: none;
   padding: 12px;
   outline: none;
   color: #ffffff;
   font-size: 17px;
   margin-top: 15px;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
   float: left;
}

.input-form .togglePassword {
   float: left;
   border: none;
   outline: none;
   padding: 12px;
   color: #ffffff;
   cursor: pointer;
   font-size: 17px;
   margin-top: 15px;
   letter-spacing: 2px;
   box-sizing: border-box;
   background-color: #38444d;
   font-family: Arial, Helvetica, sans-serif;
   transition: color 0.2s, background-color 0.2s;
}

.input-form .togglePassword:hover {
   background-color: #192734;
}

.input-form input:focus {
   background-color: #38444d;
}

.input-form input::placeholder {
   font-family: monospace;
}