*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
	cursor: not-allowed;
}

/* input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
	color: #b8b1b1;
	background-color: #ebe6e6;
	border: 0.1rem solid var(--primary-200);
} */

pre,
kbd,
code,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

input,
button,
select,
optgroup,
textarea {
	border-radius: 0.4rem;
	outline-color: var(--primary-900);
}

button {
	cursor: pointer;
}

::-ms-reveal {
	display: none;
}
