:root {
   --first: #f5f5f5;
   --second: #fafafa;
   --third: #f7efef;
   --fourth: #80b8f8;
   --component-box-shadow: 0 0 1px 1px #0000001a;
   --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
