.mys-anchor-link {
	font-size: 1.6rem;
	color: var(--mys-theme-anchor-text-color);
	font-family: var(--mys-font-family-sans-serif);
}

.mys-anchor-link:hover {
	color: var(--mys-theme-anchor-text-color-hover);
}
