body {
   background-color: #15202b;
}


:root {
   --dropdown-content-width: 160px;
}

/* for centering the component */
.container {
   width: 200px;
   margin: 10px auto;
}

.dropdown__button {
   border: none;
   outline: none;
   padding: 10px;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.dropdown__button:hover {
   background-color: #38444d;
}

.dropdown__content {
   z-index: 1;
   display: none;
   font-size: 18px;
   position: absolute;
   font-family: monospace;
   background-color: #38444d;
   width: var(--dropdown-content-width);
}

.dropdown__item {
   float: none;
   display: block;
   color: #ffffff;
   text-align: left;
   padding: 12px 16px;
   text-decoration: none;
   transition: color 0.2s, background-color 0.2s;
}

.dropdown__item:hover {
   color: #8a2be2;
   background-color: #192734;
}