@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.container {
   width: 200px;
   margin: 10px auto;
}
/* for centering element */

.dropdown__button {
   outline: none;
   padding: 10px;
   color: #ffffff;
   cursor: pointer;
   margin-top: 45px;
   margin-bottom: 16px;
   font: 1rem monospace;
   box-sizing: border-box;
   background-color: var(--second);
   border: 1px solid var(--fourth);
   transition: background-color 0.2s;
}

.dropdown__content {
   z-index: 1;
   width: 160px;
   display: none;
   position: absolute;
   border-radius: 4px;
   background-color: var(--first);
   border: 3px solid var(--seventh);
   animation: dropdownAnimation 0.2s;
   box-shadow: 7px 7px 1px 1px var(--seventh);
}

.dropdown__item {
   display: block;
   color: #ffffff;
   text-align: left;
   padding: 12px 15px;
   letter-spacing: 0.4px;
   text-decoration: none;
   letter-spacing: 0.5px;
   font: 1rem var(--font-family);
   transition: color 0.2s, background-color 0.2s;
}

.dropdown__item:hover {
   background-color: var(--second);
}

.dropdown__button:hover,
.dropdown__button--active {
   background-color: var(--fourth);
}

@media screen and (min-width: 760px) {
   .dropdown__item {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .dropdown__item {
      font-size: calc(0.9rem - 1px);
   }
}

@keyframes dropdownAnimation {
   from {
      opacity: 0;
      transform: scale(1.2);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}
