@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


/* for centering the component */
.container {
   width: 200px;
   margin: 10px auto;
}


.dropdown__button {
   border: none;
   outline: none;
   padding: 10px;
   cursor: pointer;
   font-size: 18px;
   margin-top: 45px;
   margin-bottom: 10px;
   font-family: monospace;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   border: 1px solid var(--component-border-color);
}

.dropdown__button--active,
.dropdown__button:hover {
   background-color: var(--component-hover-color);
}

.dropdown__content {
   z-index: 1;
   width: 160px;
   display: none;
   font-size: 18px;
   position: absolute;
   font-family: monospace;
   background-color: var(--component-bg-color);
   border: 1px solid var(--component-border-color);
}

.dropdown__item {
   float: none;
   display: block;
   text-align: left;
   padding: 12px 16px;
   text-decoration: none;
   color: var(--component-font-color);
   transition: color 0.2s, background-color 0.2s;
}

.dropdown__item:hover {
   background-color: var(--component-hover-color);
}