body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.input {
	width: 100%;
	color: #fff;
	border-radius: 0.4rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: rgba(118, 118, 128, 0.24);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.input:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.input::placeholder {
	color: #9b8484;
}

.input:disabled::placeholder {
	color: #5a5252;
}
