body {
	padding: 100px;
}

/* ---------------------------- */

.input {
	width: 100%;
	color: #000;
	border-radius: 0.4rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--neutral-400);
}

.input:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #000;
}

.input:disabled::placeholder {
	color: #ababab;
}
