body {
	padding: 100px;
}

/* ---------------------------- */

.input-wrapper {
	position: relative;
}

.input-wrapper svg {
	top: 0;
	left: 0;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin-top: 3.8rem;
	margin-left: 1.6rem;
}

.input {
	width: 100%;
	color: #000;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	padding: 0.8rem 1.4rem 0.8rem 5.2rem;
	border: 0.1rem solid var(--neutral-400);
}

.input:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #000;
}

.input:focus + svg {
	stroke: #000;
}

.input:disabled + svg {
	stroke: #ababab;
}

.input:disabled::placeholder {
	color: #ababab;
}

.input:not(:placeholder-shown) + svg {
	stroke: #000;
}

.input-label {
	color: #000;
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
}
