body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.input-wrapper {
	width: 100%;
}

.input {
	width: 100%;
	color: #fff;
	border-radius: 0.4rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
}

.input-label {
	color: #fff;
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
}

.input:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.input::placeholder {
	color: #9b8484;
}

.input:disabled::placeholder {
	color: #5a5252;
}
