:root {
	--han-color-primary-50: #eaebec;
	--han-color-primary-100: #d6d7d9;
	--han-color-primary-200: #c2c3c6;
	--han-color-primary-300: #aeb0b4;
	--han-color-primary-400: #9a9ca1;
	--han-color-primary-500: #86888e;
	--han-color-primary-600: #72757c;
	--han-color-primary-700: #5e6169;
	--han-color-primary-800: #4a4d56;
	--han-color-primary-900: #363a44;

	--han-color-secondary-50: #effcf6;
	--han-color-secondary-100: #c6f7e2;
	--han-color-secondary-200: #8eedc7;
	--han-color-secondary-300: #65d6ad;
	--han-color-secondary-400: #3ebd93;
	--han-color-secondary-500: #27ab83;
	--han-color-secondary-600: #199473;
	--han-color-secondary-700: #147d64;
	--han-color-secondary-800: #0c6b58;
	--han-color-secondary-900: #014d40;

	--han-color-neutral-50: #f9fafb;
	--han-color-neutral-100: #f3f4f6;
	--han-color-neutral-200: #e5e7eb;
	--han-color-neutral-300: #d1d5db;
	--han-color-neutral-400: #9ca3af;
	--han-color-neutral-500: #6b7280;
	--han-color-neutral-600: #4b5563;
	--han-color-neutral-700: #374151;
	--han-color-neutral-800: #1f2937;
	--han-color-neutral-900: #111827;

	--han-color-info-50: #e3f8ff;
	--han-color-info-100: #b3ecff;
	--han-color-info-200: #81defd;
	--han-color-info-300: #5ed0fa;
	--han-color-info-400: #40c3f7;
	--han-color-info-500: #2bb0ed;
	--han-color-info-600: #1992d4;
	--han-color-info-700: #127fbf;
	--han-color-info-800: #0b69a3;
	--han-color-info-900: #035388;
	--han-color-info-text-color: #fff;

	--han-color-success-50: #e3f9e5;
	--han-color-success-100: #c1f2c7;
	--han-color-success-200: #91e697;
	--han-color-success-300: #51ca58;
	--han-color-success-400: #31b237;
	--han-color-success-500: #18981d;
	--han-color-success-600: #0f8613;
	--han-color-success-700: #0e7817;
	--han-color-success-800: #07600e;
	--han-color-success-900: #014807;
	--han-color-success-text-color: #fff;

	--han-color-warning-50: #fffbea;
	--han-color-warning-100: #fff3c4;
	--han-color-warning-200: #fce588;
	--han-color-warning-300: #fadb5f;
	--han-color-warning-400: #f7c948;
	--han-color-warning-500: #f0b429;
	--han-color-warning-600: #de911d;
	--han-color-warning-700: #cb6e17;
	--han-color-warning-800: #b44d12;
	--han-color-warning-900: #8d2b0b;
	--han-color-warning-text-color: #000;

	--han-color-danger-50: #ffe3e3;
	--han-color-danger-100: #ffbdbd;
	--han-color-danger-200: #ffbdbd;
	--han-color-danger-300: #f86a6a;
	--han-color-danger-400: #ef4e4e;
	--han-color-danger-500: #e12d39;
	--han-color-danger-600: #cf1124;
	--han-color-danger-700: #ab091e;
	--han-color-danger-800: #8a041a;
	--han-color-danger-900: #610316;
}
