:root {
	--han-heading-one-text-size: 4.5rem;
	--han-heading-one-line-height: 5.5rem;

	--han-heading-two-text-size: 3.2rem;
	--han-heading-two-line-height: 3.8rem;

	--han-heading-three-text-size: 2.8rem;
	--han-heading-three-line-height: 3.4rem;

	--han-heading-four-text-size: 2.3rem;
	--han-heading-four-line-height: 2.8rem;

	--han-heading-five-text-size: 2rem;
	--han-heading-five-line-height: 2.5rem;

	--han-heading-six-text-size: 1.8rem;
	--han-heading-six-line-height: 2.2rem;
}
