:root {
	--han-text-size-12x: 1.2rem;
	--han-text-size-14x: 1.4rem;
	--han-text-size-16x: 1.6rem;
	--han-text-size-18x: 1.8rem;
	--han-text-size-20x: 2rem;
	--han-text-size-24x: 2.4rem;
	--han-text-size-30x: 3rem;
	--han-text-size-36x: 3.6rem;
	--han-text-size-48x: 4.8rem;
	--han-text-size-60x: 6rem;
	--han-text-size-72x: 7.2rem;
}
