:root[data-han-theme="light"] {
	--han-theme-body-bg-color: #eaebec;

	/* Anchor */
	--han-theme-anchor-text-color: #01107d;
	--han-theme-anchor-text-color-hover: #035388;

	/* Button */
	--han-theme-btn-text-color: #000;
	--han-theme-btn-bg-color: #fff;
	--han-theme-btn-border-color: #adb3bd;
	--han-theme-btn-bg-color-hover: #e3e3e3;
	--han-theme-btn-bg-color-active: #d1d7db;

	/* Regular Input */
	--han-regular-input-text-color: #000;
	--han-regular-input-bg-color: #fff;
	--han-regular-input-border-color: #9ca3af;

	/* Checkbox Input */
	--han-checkbox-input-bg-color-unchecked: #fff;
	--han-checkbox-input-bg-color-checked: #035388;
	--han-checkbox-input-btn-border-color: #adb3bd;

	/* Radio Input */
	--han-radio-input-bg-color-unchecked: #fff;
	--han-radio-input-bg-color-checked: #035388;
	--han-radio-input-btn-border-color: #adb3bd;

	/* Select Input */
	--han-select-input-text-color: #000;
	--han-select-input-bg-color: #fff;
	--han-select-input-border-color: #9ca3af;
	--han-select-input-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

	/* Range Input */
	--han-input-range-bar-bg-color: #adb3bd;
	--han-input-range-thumb-bg-color: #035388;

	/* Progressbar */
	--han-progressbar-bg-color: #adb3bd;
	--han-progressbar-value-bg-color: #035388;

	/* Table */
	--han-table-border-color: #adb3bd;
	--han-table-th-bg-color: #e3e3e3;
	--han-table-td-bg-color: #f2f2f2;
	--han-table-th-text-color: #000;
	--han-table-td-text-color: #000;

	/* Spinner */
	--han-spinner-bg-color: #000;

	/* Modal */
	--han-modal-text-color: #000;
	--han-modal-bg-color: #fff;
	--han-modal-border-color: #787b81;

	/* Accordion */
	--han-accordion-icon: url("data:image/svg+xml,%3Csvg width='23' height='23' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

:root[data-han-theme="dark"] {
	--han-theme-body-bg-color: #181818;

	/* Anchor */
	--han-theme-anchor-text-color: #2bb0ed;
	--han-theme-anchor-text-color-hover: #40c3f7;

	/* Button */
	--han-theme-btn-text-color: #fff;
	--han-theme-btn-bg-color: #7676803d;
	--han-theme-btn-border-color: #564343;
	--han-theme-btn-bg-color-hover: #343439;
	--han-theme-btn-bg-color-active: #3b3b41;

	/* Regular Input */
	--han-regular-input-text-color: #fff;
	--han-regular-input-bg-color: #7676803d;
	--han-regular-input-border-color: #564343;

	/* Checkbox Input */
	--han-checkbox-input-bg-color-checked: #1376b7;
	--han-checkbox-input-btn-border-color: #564343;
	--han-checkbox-input-bg-color-unchecked: #7676803d;

	/* Radio Input */
	--han-radio-input-bg-color-checked: #1376b7;
	--han-radio-input-btn-border-color: #564343;
	--han-radio-input-bg-color-unchecked: #7676803d;

	/* Select Input */
	--han-select-input-text-color: #fff;
	--han-select-input-bg-color: #7676803d;
	--han-select-input-border-color: #564343;
	--han-select-input-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

	/* Range Input */
	--han-input-range-bar-bg-color: #564343;
	--han-input-range-thumb-bg-color: #1376b7;

	/* Progressbar */
	--han-progressbar-bg-color: #564343;
	--han-progressbar-value-bg-color: #1376b7;

	/* Table */
	--han-table-border-color: #564343;
	--han-table-th-bg-color: #7676803d;
	--han-table-td-bg-color: #171719;
	--han-table-th-text-color: #fff;
	--han-table-td-text-color: #fff;

	/* Spinner */
	--han-spinner-bg-color: #fff;

	/* Modal */
	--han-modal-text-color: #fff;
	--han-modal-bg-color: #7676803d;
	--han-modal-border-color: #564343;

	/* Accordion */
	--han-accordion-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

body {
	background-color: var(--han-theme-body-bg-color);
}
