@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   padding: 23px;
   border-radius: 3px;
   box-sizing: border-box;
   background: var(--sixth);
}

.card__head {
   display: flex;
   align-items: center;
}

.card__circle {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   animation: loading 1s ease-in-out infinite alternate;
}

.card__head-block {
   width: 170px;
   height: 20px;
   margin-left: 20px;
   border-radius: 4px;
   animation: loading 1s ease-in-out infinite alternate;
}

.card__large-block {
   width: 100%;
   height: 200px;
   margin-top: 20px;
   border-radius: 4px;
   animation: loading 1s ease-in-out infinite alternate;
}

.card__footer-block {
   width: 160px;
   height: 25px;
   float: right;
   margin-top: 20px;
   border-radius: 4px;
   animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
   0% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.1);
   }

   50% {
      transform: scale(1.01);
      background-color: rgba(165, 165, 165, 0.3);
   }

   100% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.1);
   }
}
