@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 500px;
   padding: 23px;
   border-radius: 3px;
   box-sizing: border-box;
   background-color: var(--first);
   border: 4px solid var(--seventh);
   box-shadow: 9px 9px 1px 1px var(--seventh);
}

.card__large-block {
   width: 100%;
   height: 200px;
   border-radius: 3px;
   animation: skeletonAnimation 1s ease-in-out infinite alternate;
}

.card__footer-block {
   width: 160px;
   height: 25px;
   float: right;
   margin-top: 20px;
   border-radius: 3px;
   animation: skeletonAnimation 1s ease-in-out infinite alternate;
}

@keyframes skeletonAnimation {
   0% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.1);
   }

   50% {
      transform: scale(1.01);
      background-color: rgba(165, 165, 165, 0.3);
   }

   100% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.1);
   }
}
