@import "../global/reset.css";
@import "../global/theme.css";

.dropdown {
	width: fit-content;
	position: relative;
}

.dropdown .dropdown--collapse {
	display: block;
}

.dropdown__button {
	width: 100%;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-style: solid;
	border-width: 0.1rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);

	border-color: var(--neutral-400);
	color: var(--main-font-color-light);
	background-color: var(--main-bg-color-component-light);
}

.dropdown__button:focus {
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: -0.1rem;

	outline-color: var(--main-font-color-light);
}

.dropdown__button:disabled {
	border-color: var(--primary-200);
	color: var(--main-font-color-light-disabled);
	background-color: var(--main-bg-color-component-light-disabled);
}

.dropdown__button svg {
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 0.6rem;
	pointer-events: none;
}

.dropdown__button:disabled svg {
	stroke: var(--main-font-color-light-disabled);
}

.dropdown__items {
	top: 0;
	display: none;
	z-index: 9999;
	margin-top: 5.5rem;
	position: absolute;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;

	border-color: var(--neutral-400);
	background-color: var(--main-bg-color-component-light);
}

.dropdown__item {
	width: 100%;
	display: block;
	margin-bottom: 0.3rem;
	text-decoration: none;
	font-size: var(--text-16x);
	padding: 1rem 8rem 1rem 1.3rem;
	font-family: var(--font-family);

	color: var(--main-font-color-light);
}

.dropdown__item:first-child {
	border-radius: 0.4rem 0.4rem 0 0;
}

.dropdown__item:last-child {
	margin-bottom: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}

.dropdown__item:focus {
	/* outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: -0.1rem;

	outline-color: var(--main-font-color-light); */

	outline: none;
	border-color: transparent;
	box-shadow: 0 0 0 0.2rem var(--main-font-color-light);
}
