body {
	padding: 100px;
	background-color: var(--primary-50);
}

/* ---------------------------- */

.error-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.1rem 1.4rem;
	justify-content: space-between;
	background-color: var(--error-500);
	border: 0.1rem solid var(--error-600);
}

.error-alert__main {
	display: flex;
	align-items: center;
}

.error-alert__message {
	color: #fff;
	font-size: var(--text-16x);
	font-family: var(--font-family);
}

.error-alert__icon {
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 1.4rem;
}

.error-alert__close {
	border: none;
	padding: 0.2rem;
	border-radius: 100%;
	background-color: transparent;
}

.error-alert__close svg {
	width: 2.4rem;
	height: 2.4rem;
	display: block;
	pointer-events: none;
}

.error-alert__close:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}
