@import "../global/reset.css";
@import "../global/theme.css";

.quote {
	padding: 1.4rem;
	font-style: italic;
	line-height: 2.7rem;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	border-left-style: solid;
	border-left-width: 0.7rem;
	font-size: var(--text-16x);
	font-family: var(--font-family);

	color: #000;
	border-color: var(--secondary-500);
	background-color: var(--neutral-50);
	border-left-color: var(--secondary-500);
}

.quote::before {
	font-size: 5.5rem;
	line-height: 0.7rem;
	content: open-quote;
	margin-right: 1.2rem;
	vertical-align: -2.1rem;

	color: #000;
}
