body {
	background-color: #15202b;
}

/* Bouncer 1 */
.bouncer-1 {
	top: 50%;
	left: 50%;
	width: 113px;
	display: flex;
	height: 100px;
	position: absolute;
	align-items: center;
	justify-content: space-between;
}

.bouncer-1 .ball {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #e5e2e2;
	animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.bouncer-1 .ball:nth-child(2) {
	animation-delay: 0.1s;
}

.bouncer-1 .ball:nth-child(3) {
	animation-delay: 0.2s;
}

.bouncer-1 .ball:nth-child(3) {
	animation-delay: 0.3s;
}

.bouncer-1 .ball:nth-child(4) {
	animation-delay: 0.4s;
}

/* Bouncer 2 */
.bouncer-2 {
	top: 50%;
	left: 50%;
	width: 113px;
	display: flex;
	height: 100px;
	position: absolute;
	align-items: center;
	justify-content: space-between;
}

.bouncer-2 .ball {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #e5e2e2;
	animation: bouncer 0.5s ease-in-out infinite alternate;
}

.bouncer-2 .ball:nth-child(2) {
	animation-delay: 0.1s;
}

.bouncer-2 .ball:nth-child(3) {
	animation-delay: 0.2s;
}

.bouncer-2 .ball:nth-child(3) {
	animation-delay: 0.3s;
}

.bouncer-2 .ball:nth-child(4) {
	animation-delay: 0.4s;
}

@keyframes bouncer {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100px);
	}
}
