body {
   background-color: #f5f5f5
}


/* Spinner 1 */
.spinner-1::before {
   top: 50%;
   left: 50%;
   width: 60px;
   content: "";
   height: 60px;
   margin-top: -30px;
   margin-left: -30px;
   position: absolute;
   border-radius: 100%;
   box-sizing: border-box;
   border: 5px solid #cec6c5;
   border-top-color: #38444d;
   animation: spinner 0.9s linear infinite;
}

/* Spinner 2 */
.spinner-2::before {
   top: 50%;
   left: 50%;
   width: 60px;
   content: "";
   height: 60px;
   margin-top: -30px;
   margin-left: -30px;
   position: absolute;
   border-radius: 100%;
   box-sizing: border-box;
   border: 5px solid #cec6c5;
   border-top-color: #38444d;
   border-bottom-color: #38444d;
   animation: spinner 1s linear infinite;
}

/* Spinner 3 */
.spinner-3::before {
   top: 50%;
   left: 50%;
   width: 65px;
   content: "";
   height: 65px;
   margin-top: -30px;
   margin-left: -30px;
   position: absolute;
   border-radius: 100%;
   box-sizing: border-box;
   border-top: 5px solid #38444d;
   border-right: 4px solid transparent;
   animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}