body {
	padding: 80px;
	background-color: var(--neutral-25);
}

/* ----------------------------------------- */

.input {
	position: relative;
}

.input__comp {
	width: 100%;
	color: var(--neutral-900);
	transition: border 0.2s;
	padding: 9px 16px 9px 50px;
	font: 400 16px var(--application-ui-font);
	border: 1px solid var(--neutral-200);
}

.input__icon {
	top: 0;
	left: 0;
	margin-top: 12px;
	margin-left: 15px;
	position: absolute;
	stroke: var(--neutral-400);
	transition: stroke 0.2s;
}

.input__comp::placeholder {
	color: var(--neutral-400);
}

.input__comp:focus {
	border: 1px solid var(--neutral-600);
}

.input__comp:focus ~ .input__icon {
	stroke: var(--neutral-600);
}

.input__comp:disabled ~ .input__icon {
	pointer-events: none;
}
