@import "../global/reset.css";
@import "../global/theme.css";

/* Bouncer - Dark */
.bouncer.bouncer--dark .bouncer__ball {
	background-color: var(--main-bg-color-component-light);
}
/* Bouncer - Dark */

.bouncer {
	width: 10rem;
	display: flex;
	height: 10rem;
	align-items: center;
	justify-content: space-between;
}

.bouncer__ball {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background-color: #000;
	animation: bouncer 500ms cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
		alternate;
}

.bouncer__ball:nth-child(2) {
	animation-delay: 100ms;
}

.bouncer__ball:nth-child(3) {
	animation-delay: 200ms;
}

.bouncer__ball:nth-child(3) {
	animation-delay: 300ms;
}

.bouncer__ball:nth-child(4) {
	animation-delay: 400ms;
}

@keyframes bouncer {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10rem);
	}
}
