@import "../global/reset.css";
@import "../global/theme.css";

/* Button - General */
.button.button--general {
	color: #000;
	border-color: var(--neutral-400);
	background-color: var(--neutral-50);
}

.button.button--general:focus {
	outline-color: #000;
}
/* Button - General */

/* Button - Danger */
.button.button--danger {
	color: #fff;
	border-color: var(--error-600);
	background-color: var(--error-500);
}

.button.button--danger:focus {
	outline-color: #000;
}
/* Button - Danger */

/* Button - Info */
.button.button--info {
	color: #fff;
	border-color: var(--info-700);
	background-color: var(--info-600);
}

.button.button--info:focus {
	outline-color: #000;
}
/* Button - Info */

/* Button - Secondary */
.button.button--secondary {
	color: #fff;
	border-color: var(--secondary-700);
	background-color: var(--secondary-600);
}

.button.button--secondary:focus {
	outline-color: #000;
}
/* Button - Secondary */

/* Button - Success */
.button.button--success {
	color: #fff;
	border-color: var(--success-500);
	background-color: var(--success-400);
}

.button.button--success:focus {
	outline-color: #000;
}
/* Button - Success */

/* Button - Warning */
.button.button--warning {
	color: #000;
	border-color: var(--warning-500);
	background-color: var(--warning-400);
}

.button.button--warning:focus {
	outline-color: #000;
}
/* Button - Warning */

/* Button - Base */
.button {
	display: flex;
	align-items: center;
	border-style: solid;
	border-width: 0.1rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
}

.button:focus {
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: -0.1rem;
}
/* Button - Base */
