@import "../global/reset.css";
@import "../global/theme.css";

.input {
	width: 100%;
}

.input input {
	width: 100%;
	color: #000;
	border-style: solid;
	border-width: 0.1rem;
	border-radius: 0.4rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	border-color: var(--neutral-400);
	background-color: var(--neutral-50);
}

.input input:disabled {
	color: #b8b1b1;
	background-color: #ebe6e6;
	border: 0.1rem solid var(--primary-200);
}

.input input:focus {
	outline-color: #000;
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: -0.1rem;
}

.input input:disabled::placeholder {
	color: #ababab;
}

.input.input--icon {
	position: relative;
}

.input svg.input__left-icon {
	stroke: #7d7575;
}

.input.input--icon input {
	padding-left: 4.8rem;
}

.input svg.input__left-icon {
	left: 0;
	top: 50%;
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	margin-left: 1.4rem;
	transform: translateY(-50%);
}

.input label {
	color: #000;
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
	font-family: var(--font-family);
}

.input .input__wrapper {
	width: 100%;
	position: relative;
}

.input .input__wrapper input {
	width: 100%;
}

.input.input--icon input:focus + svg.input__left-icon {
	stroke: #000;
}

.input.input--icon input:disabled + svg.input__left-icon {
	stroke: #ababab;
}
