:root {
	--space-0x: 0px;
	--space-4x: 4px;
	--space-8x: 8px;
	--space-12x: 12px;
	--space-16x: 16px;
	--space-20x: 20px;
	--space-24x: 24px;
	--space-28x: 28px;
	--space-32x: 32px;
	--space-36x: 36px;
	--space-40x: 40px;
	--space-44x: 44px;
	--space-48x: 48px;
	--space-52x: 52px;
	--space-56x: 56px;
	--space-60x: 60px;
	--space-64x: 64px;
	--space-68x: 68px;
	--space-72x: 72px;
	--space-76x: 76px;
	--space-80x: 80px;
	--space-84x: 84px;
	--space-88x: 88px;
	--space-92x: 92px;
}

:root {
	--space-0x: 0px;
	--space-4x: 4px;
	--space-9x: 8px;
	--space-12x: 12px;
	--space-16x: 16px;
	--space-20x: 20px;
	--space-24x: 24px;
	--space-28x: 28px;
	--space-32x: 32px;
	--space-40x: 40px;
	--space-48x: 48px;
	--space-56x: 56px;
	--space-64x: 64px;
	--space-72x: 72px;
	--space-80x: 80px;
	--space-88x: 88px;
	--space-96x: 96px;
	--space-104x: 104px;
	--space-112x: 112px;
	--space-120x: 120px;
	--space-128x: 128px;
	--space-136x: 136px;
	--space-144x: 144px;
	--space-152x: 152px;
}
