/* Options 1 (palette 3) */
:root {
	/* 
		🚀 Primary Colors

		👉 A primary color is the color displayed most frequently across your app's screens and components. 

		👉 Your primary color can be used to make a color theme for your app, including dark and light primary color variants.
	*/
	--purple-50: #e6e6ff;
	--purple-100: #c4c6ff;
	--purple-200: #a2a5fc;
	--purple-300: #8888fc;
	--purple-400: #7069fa;
	--purple-500: #5d55fa;
	--purple-600: #4d3df7;
	--purple-700: #3525e6;
	--purple-800: #1d0ebe;
	--purple-900: #0c008c;

	/* 
		🚀 Secondary Colors

		👉 A secondary color provides more ways to accent and distinguish your product. Having a secondary color is optional, and should be applied sparingly to accent select parts of your UI.

		👉 Secondary colors are best for:
			👀 Floating action buttons
			👀 Selection controls, like sliders and switches
			👀 Highlighting selected text
			👀 Progress bars
			👀 Links and headlines
	*/
	--teal-50: #effcf6;
	--teal-100: #c6f7e2;
	--teal-200: #8eedc7;
	--teal-300: #65d6ad;
	--teal-400: #3ebd93;
	--teal-500: #27ab83;
	--teal-600: #199473;
	--teal-700: #147d64;
	--teal-800: #0c6b58;
	--teal-900: #014d40;

	/* 
		🚀 Neutral Colors

		👉 These are the colors you will use the most and will make up the majority of your UI. Use them for most of your text, backgrounds, and borders, as well as for things like secondary buttons and links.
	*/
	--white: #fff;
	--black: #000;

	--grey-50: #f9fafb;
	--grey-100: #f3f4f6;
	--grey-200: #e5e7eb;
	--grey-300: #d1d5db;
	--grey-400: #9ca3af;
	--grey-500: #6b7280;
	--grey-600: #4b5563;
	--grey-700: #374151;
	--grey-800: #1f2937;
	--grey-900: #111827;

	--grey-blue-50: #f0f4f8;
	--grey-blue-100: #d9e2ec;
	--grey-blue-200: #bcccdc;
	--grey-blue-300: #9fb3c8;
	--grey-blue-400: #829ab1;
	--grey-blue-500: #627d98;
	--grey-blue-600: #486581;
	--grey-blue-700: #334e68;
	--grey-blue-800: #243b53;
	--grey-blue-900: #102a43;

	/* 
		🚀 Supporting, semantic, and variant colors

		👉 These are the colors that comminicate purpose, like message for success, error, warnings, highlight something like new feature, and etc.
	*/

	/* For information (option 1) */
	--light-blue-50: #e3f8ff;
	--light-blue-100: #b3ecff;
	--light-blue-200: #81defd;
	--light-blue-300: #5ed0fa;
	--light-blue-400: #40c3f7;
	--light-blue-500: #2bb0ed;
	--light-blue-600: #1992d4;
	--light-blue-700: #127fbf;
	--light-blue-800: #0b69a3;
	--light-blue-900: #035388;

	/* For information (option 2) */
	--pink-50: #ffe3ec;
	--pink-100: #ffb8d2;
	--pink-200: #ff8cba;
	--pink-300: #f364a2;
	--pink-400: #e8368f;
	--pink-500: #da127d;
	--pink-600: #bc0a6f;
	--pink-700: #a30664;
	--pink-800: #870557;
	--pink-900: #620042;

	/* For success, safe, and right */
	--green-50: #e3f9e5;
	--green-100: #c1f2c7;
	--green-200: #91e697;
	--green-300: #51ca58;
	--green-400: #31b237;
	--green-500: #18981d;
	--green-600: #0f8613;
	--green-700: #0e7817;
	--green-800: #07600e;
	--green-900: #014807;

	/* For error, danger, and wrong */
	--red-50: #ffe3e3;
	--red-100: #ffbdbd;
	--red-200: #ffbdbd;
	--red-300: #f86a6a;
	--red-400: #ef4e4e;
	--red-500: #e12d39;
	--red-600: #cf1124;
	--red-700: #ab091e;
	--red-800: #8a041a;
	--red-900: #610316;

	/* For warning, alert, and caution */
	--yellow-50: #fffbea;
	--yellow-100: #fff3c4;
	--yellow-200: #fce588;
	--yellow-300: #fadb5f;
	--yellow-400: #f7c948;
	--yellow-500: #f0b429;
	--yellow-600: #de911d;
	--yellow-700: #cb6e17;
	--yellow-800: #b44d12;
	--yellow-900: #8d2b0b;
}
