body {
   background-color: rgb(21, 32, 43);
}

/* for centering components */
.container {
   width: 900px;
   margin: 50px auto;
}



blockquote.dark-quote {
   color: white;
   padding: 15px;
   font-size: 20px;
   line-height: 28px;
   font-style: italic;
   box-sizing: border-box;
   border: 1px solid #38444d;
   border-left: 10px solid #38444d;
   background-color: rgb(25, 39, 52);
   quotes: "\201C""\201D""\2018""\2019";
}

blockquote.dark-quote::before {
   font-size: 80px;
   line-height: 7px;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}