body {
   background-color: whitesmoke;
}


/* for centering */
.container {
   width: 900px;
   margin: 50px auto;
}

blockquote.light-quote {
   padding: 15px;
   font-size: 20px;
   line-height: 28px;
   font-style: italic;
   box-sizing: border-box;
   background-color: #fafafa;
   quotes: "\201C""\201D""\2018""\2019";
   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
   border-left: 10px solid rgb(204, 204, 204);
}

blockquote.light-quote::before {
   color: #ccc;
   font-size: 80px;
   line-height: 7px;
   margin-right: 8px;
   content: open-quote;
   vertical-align: -0.4em;
}