body {
	padding: 100px;
}

/* ---------------------------- */

.quote {
	color: #000;
	padding: 1.4rem;
	font-style: italic;
	line-height: 2.7rem;
	border-radius: 0.4rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	border: 0.2rem solid var(--secondary-500);
	border-left: 0.7rem solid var(--secondary-500);
}

.quote::before {
	color: #000;
	font-size: 5.5rem;
	line-height: 0.7rem;
	content: open-quote;
	margin-right: 1.2rem;
	vertical-align: -2.1rem;
}
