body {
   background-color: rgb(21, 32, 43);
}


:root {
   --alert-width: 500px;
}

/* for centering the component */
.container {
   width: 600px;
   margin: 50px auto;
   text-align: center;
}

.alert {
   width: var(--alert-width);
   padding: 10px;
   display: flex;
   font-size: 16px;
   font-weight: bold;
   color: whitesmoke;
   margin-bottom: 55px;
   align-items: center;
   font-family: monospace;
   box-sizing: border-box;
   background-color: orangered;
   justify-content: space-between;
}

.alert span {
   padding: 3px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.2s;
   font-family: sans-serif;
}

.alert span:hover {
   color: rgb(21, 32, 43);
}