.alert {
   margin: auto;
   width: 500px;
   padding: 10px;
   display: flex;
   font-size: 16px;
   font-weight: bold;
   color: whitesmoke;
   margin-bottom: 55px;
   align-items: center;
   font-family: monospace;
   box-sizing: border-box;
   background-color: orangered;
   justify-content: space-between;
}

.alert span {
   padding: 3px;
   cursor: pointer;
   font-size: 20px;
   transition: .2s;
   font-family: monospace;
}

.alert span:hover {
   color: orange;
}