body {
	padding: 100px;
}

/* ----------------------------------------- */

.circle {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-size: 30rem;
	background-color: #f3f5f7;
	background-repeat: no-repeat;
	border: 0.1rem solid var(--neutral-400);
}

.block {
	width: 25rem;
	height: 4rem;
	border-radius: 0.5rem;
	background-size: 30rem;
	background-color: #f3f5f7;
	background-repeat: no-repeat;
	border: 0.1rem solid var(--neutral-400);
}

.large-block {
	width: 50rem;
	height: 25rem;
	border-radius: 0.5rem;
	background-size: 30rem;
	background-color: #f3f5f7;
	background-repeat: no-repeat;
	border: 0.1rem solid var(--neutral-400);
}

.skeleton-animation {
	animation: skeleton 900ms ease infinite;
	background-image: linear-gradient(
		100deg,
		#f9fafb,
		rgba(229, 231, 235, 0.9),
		#f9fafb
	);
}

@keyframes skeleton {
	0% {
		background-position: -50rem;
	}

	100% {
		background-position: calc(40rem + 100%);
	}
}
