body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ----------------------------------------- */

.circle {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
	animation: skeleton 1s ease-in infinite;
}

.block {
	width: 25rem;
	height: 4rem;
	border-radius: 0.5rem;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
	animation: skeleton 1s ease-in infinite;
}

.large-block {
	width: 50rem;
	height: 25rem;
	border-radius: 0.5rem;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
	animation: skeleton 1s ease-in infinite;
}

@keyframes skeleton {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}
