body {
	padding: 100px;
}

/* ----------------------------------------- */

.circle {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: #f3f5f7;
	border: 0.1rem solid var(--neutral-400);
}

.block {
	width: 25rem;
	height: 4rem;
	border-radius: 0.5rem;
	background-color: #f3f5f7;
	border: 0.1rem solid var(--neutral-400);
}

.large-block {
	width: 50rem;
	height: 25rem;
	border-radius: 0.5rem;
	background-color: #f3f5f7;
	border: 0.1rem solid var(--neutral-400);
}
