body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ----------------------------------------- */

.circle {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	animation: skeleton 1s ease-in infinite;
	background-color: rgba(118, 118, 128, 0.3);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.block {
	width: 25rem;
	height: 4rem;
	border-radius: 0.5rem;
	animation: skeleton 1s ease-in infinite;
	background-color: rgba(118, 118, 128, 0.3);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.large-block {
	width: 50rem;
	height: 25rem;
	border-radius: 0.5rem;
	animation: skeleton 1s ease-in infinite;
	background-color: rgba(118, 118, 128, 0.3);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

@keyframes skeleton {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}
