body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ----------------------------------------- */

.circle {
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
}

.block {
	width: 25rem;
	height: 4rem;
	border-radius: 0.5rem;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
}

.large-block {
	width: 50rem;
	height: 25rem;
	border-radius: 0.5rem;
	background-color: #7676804d;
	border: 0.1rem solid #7676803d;
}
