/*
	Prefix: --mys-space
*/

:root {
	--mys-space-0x: 0;
	--mys-space-4x: 0.4rem;
	--mys-space-8x: 0.8rem;
	--mys-space-12x: 1.2rem;
	--mys-space-16x: 1.6rem;
	--mys-space-20x: 2rem;
	--mys-space-24x: 2.4rem;
	--mys-space-28x: 2.8rem;
	--mys-space-32x: 3.2rem;
	--mys-space-40x: 4rem;
	--mys-space-48x: 4.8rem;
	--mys-space-56x: 5.6rem;
	--mys-space-64x: 6.4rem;
	--mys-space-72x: 7.2rem;
	--mys-space-80x: 8rem;
	--mys-space-88x: 8.8rem;
	--mys-space-96x: 9.6rem;
	--mys-space-104x: 10.4rem;
	--mys-space-112x: 11.2rem;
	--mys-space-120x: 12rem;
	--mys-space-128x: 12.8rem;
	--mys-space-136x: 13.6rem;
	--mys-space-144x: 14.4rem;
	--mys-space-152x: 15.2rem;
}
