/*
	Prefix: --mys-theme
*/

:root[data-mys-theme="light"] {
	--mys-theme-body-bg-color: #eaebec;

	/* Anchor */
	--mys-theme-anchor-text-color: #01107d;
	--mys-theme-anchor-text-color-hover: #035388;

	/* Button */
	--mys-theme-btn-text-color: #000;
	--mys-theme-btn-bg-color: #fff;
	--mys-theme-btn-border-color: #adb3bd;
	--mys-theme-btn-bg-color-hover: #e3e3e3;
	--mys-theme-btn-bg-color-active: #d1d7db;

	/* Regular Input */
	--mys-regular-input-text-color: #000;
	--mys-regular-input-bg-color: #fff;
	--mys-regular-input-border-color: #9ca3af;

	/* Checkbox Input */
	--mys-checkbox-input-bg-color-unchecked: #fff;
	--mys-checkbox-input-bg-color-checked: #035388;
	--mys-checkbox-input-btn-border-color: #adb3bd;

	/* Radio Input */
	--mys-radio-input-bg-color-unchecked: #fff;
	--mys-radio-input-bg-color-checked: #035388;
	--mys-radio-input-btn-border-color: #adb3bd;

	/* Select Input */
	--mys-select-input-text-color: #000;
	--mys-select-input-bg-color: #fff;
	--mys-select-input-border-color: #9ca3af;
	--mys-select-input-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

	/* Range Input */
	--mys-input-range-bar-bg-color: #adb3bd;
	--mys-input-range-thumb-bg-color: #035388;

	/* Progressbar */
	--mys-progressbar-bg-color: #fff;
	--mys-progressbar-value-bg-color: #035388;
}

:root[data-mys-theme="dark"] {
	--mys-theme-body-bg-color: #181818;

	/* Anchor */
	--mys-theme-anchor-text-color: #2bb0ed;
	--mys-theme-anchor-text-color-hover: #40c3f7;

	/* Button */
	--mys-theme-btn-text-color: #fff;
	--mys-theme-btn-bg-color: #7676803d;
	--mys-theme-btn-border-color: #564343;
	--mys-theme-btn-bg-color-hover: #343439;
	--mys-theme-btn-bg-color-active: #3b3b41;

	/* Regular Input */
	--mys-regular-input-text-color: #fff;
	--mys-regular-input-bg-color: #7676803d;
	--mys-regular-input-border-color: #564343;

	/* Checkbox Input */
	--mys-checkbox-input-bg-color-checked: #1376b7;
	--mys-checkbox-input-btn-border-color: #564343;
	--mys-checkbox-input-bg-color-unchecked: #7676803d;

	/* Radio Input */
	--mys-radio-input-bg-color-checked: #1376b7;
	--mys-radio-input-btn-border-color: #564343;
	--mys-radio-input-bg-color-unchecked: #7676803d;

	/* Select Input */
	--mys-select-input-text-color: #fff;
	--mys-select-input-bg-color: #7676803d;
	--mys-select-input-border-color: #564343;
	--mys-select-input-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

	/* Range Input */
	--mys-input-range-bar-bg-color: #564343;
	--mys-input-range-thumb-bg-color: #1376b7;

	/* Progressbar */
	--mys-progressbar-bg-color: #7676803d;
	--mys-progressbar-value-bg-color: #1376b7;
}

body {
	background-color: var(--mys-theme-body-bg-color);
}
