@import "../global/reset.css";
@import "../global/theme.css";
@import "../global/temporary.css";

/* Button - Base */
.button {
	display: flex;
	align-items: center;
	border-style: solid;
	border-width: 0.1rem;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	transition: background-color 100ms ease-in-out;
}

/* .button:focus {
	outline-style: solid;
	outline-width: 0.2rem;
	outline-offset: -0.1rem;
} */

.button svg.button__icon {
	width: 2.4rem;
	height: 2.4rem;
	pointer-events: none;
}

.button svg.button__icon.button__icon--right {
	margin-left: 0.8rem;
}

.button svg.button__icon.button__icon--left {
	margin-right: 0.8rem;
}
/* Button - Base */

/* Button - General */
.button.button--general {
	border-color: var(--neutral-400);
	color: var(--main-font-color-light);
	background-color: var(--neutral-50);
}

.button.button--general:active {
	background-color: var(--neutral-200);
}

/* .button.button--general:focus {
	outline-color: var(--main-font-color-light);
} */
/* Button - General */

/* Button - Danger */
.button.button--danger {
	border-color: var(--error-600);
	background-color: var(--error-500);
	color: var(--error-main-text-color);
}

/* .button.button--danger:focus {
	outline-color: var(--main-font-color-light);
} */

.button.button--danger:active {
	background-color: var(--error-600);
}

.button.button--danger svg.button__icon {
	stroke: var(--error-main-text-color);
}
/* Button - Danger */

/* Button - Info */
.button.button--info {
	border-color: var(--info-700);
	background-color: var(--info-600);
	color: var(--info-main-text-color);
}

/* .button.button--info:focus {
	outline-color: var(--main-font-color-light);
} */

.button.button--info:active {
	background-color: var(--info-700);
}

.button.button--info svg.button__icon {
	stroke: var(--info-main-text-color);
}
/* Button - Info */

/* Button - Success */
.button.button--success {
	border-color: var(--success-500);
	background-color: var(--success-400);
	color: var(--success-main-text-color);
}

/* .button.button--success:focus {
	outline-color: #000;
} */

.button.button--success:active {
	background-color: var(--success-500);
}

.button.button--success svg.button__icon {
	stroke: var(--success-main-text-color);
}
/* Button - Success */

/* Button - Warning */
.button.button--warning {
	border-color: var(--warning-500);
	background-color: var(--warning-400);
	color: var(--warning-main-text-color);
}

/* .button.button--warning:focus {
	outline-color: var(--warning-main-text-color);
} */

.button.button--warning:active {
	background-color: var(--warning-500);
}

.button.button--warning svg.button__icon {
	stroke: var(--warning-main-text-color);
}
/* Button - Warning */
