body {
   background-color: #15202B;
}


:root {
   --alert-width: 500px;
}

/* for centering the component */
.container {
   width: 600px;
   margin: 50px auto;
   text-align: center;
}

.alert {
   padding: 10px;
   display: flex;
   color: #ffffff;
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 55px;
   align-items: center;
   font-family: monospace;
   box-sizing: border-box;
   width: var(--alert-width);
   background-color: #ff4500;
   justify-content: space-between;
}

.alert .close {
   padding: 3px;
   cursor: pointer;
   font-size: 28px;
   transition: color 0.2s;
}

.alert .close:hover {
   color: #38444d;
}