@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


/* for centering the component */
.container {
   width: 550px;
   margin: 50px auto;
   text-align: center;
}


.alert {
   width: 100%;
   padding: 8px;
   display: flex;
   font-weight: bolder;
   margin-bottom: 55px;
   align-items: center;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #ff4500;
   justify-content: space-between;
   color: var(--component-font-color);
}

.alert__message {
   font-size: 17px;
}

.alert__close-button {
   padding: 3px;
   cursor: pointer;
   font-size: 26px;
   transition: color 0.2s;
}

.alert__close-button:hover {
   color: #38444d;
}