@import "../../../css-variables/variable.css";

body {
	padding: 80px;
	background-color: var(--black);
}

.alert {
	display: flex;
	padding: 10px 16px;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--dark-bg-error);
	border: 1px solid var(--error-400);
}

.alert__status {
	color: var(--error-300);
	font: 700 16px var(--font);
}

.alert__desc {
	color: var(--error-200);
	font: 400 14px var(--font);
}

.alert__close-icon {
	cursor: pointer;
	transition: fill 0.2s;
	fill: var(--error-400);
}

.alert__close-icon:hover {
	fill: var(--error-200);
}
