@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.container {
   width: 550px;
   margin: 50px auto;
   text-align: center;
}
/* for centering element */

.alert {
   width: 100%;
   display: flex;
   padding: 8.1px;
   color: #ffffff;
   border-radius: 3px;
   margin-bottom: 55px;
   align-items: center;
   box-sizing: border-box;
   background: var(--first);
   border: 2px solid #e0744c;
   justify-content: space-between;
   box-shadow: 5px 5px 1px 1px #e0744c;
}

.alert__message {
   color: #e0744c;
   letter-spacing: 1px;
   font: bold 1rem var(--font-family);
}

.alert__close-button {
   padding: 2px;
   color: #e0744c;
   cursor: pointer;
   font-size: 1.3rem;
   font-weight: bold;
   font-family: monospace;
   transition: transform 0.2s;
}

.alert__close-button:hover {
   transform: scale(1.2);
}

@media screen and (min-width: 760px) {
   .alert__message {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .alert__message {
      font-size: calc(0.9rem - 1px);
   }
}
