@import "../../../css-variables/variable.css";

body {
	padding: 80px;
	background-color: var(--black);
}

.message {
	display: flex;
	align-items: center;
}

.message__desc {
	margin-left: 12px;
	letter-spacing: 0.5px;
	color: var(--error-200);
	font: 400 14px var(--font);
}

.message__status {
	font-weight: 700;
	font-size: 16px;
	color: var(--error-400);
}
