@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   padding: 23px;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: #ffffff;
   border: 3px solid #b8bec5;
   box-shadow: 12px 12px 1px 1px #b8bec5;
}

.card__head {
   display: flex;
   margin-left: 5px;
   align-items: center;
}

.card__circle {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   animation: loading 1s ease-in-out infinite;
}

.card__head-block {
   width: 170px;
   height: 20px;
   margin-left: 20px;
   border-radius: 3px;
   animation: loading 1s ease-in-out infinite;
}

.card__large-block {
   width: 100%;
   height: 450px;
   margin-top: 20px;
   border-radius: 3px;
   margin-bottom: 30px;
   animation: loading 1s ease-in-out infinite;
}

.card__medium-block {
   width: 100%;
   height: 25px;
   margin-top: 18px;
   border-radius: 3px;
   animation: loading 1s ease-in-out infinite;
}

.card__footer-block {
   width: 160px;
   height: 25px;
   float: right;
   margin-top: 20px;
   border-radius: 3px;
   animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
   0% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.3);
   }

   50% {
      transform: scale(1.01);
      background-color: rgba(165, 165, 165, 0.6);
   }

   100% {
      transform: scale(1);
      background-color: rgba(165, 165, 165, 0.3);
   }
}
