:root {
	--font: "Poppins", sans-serif;

	--white: #fff;
	--black: #000;
	--dark-bg-error: #1f1c16;
	--dark-disabled-color: #111;
	--light-color-border: #d0d7de;

	--dark-50: #fafafa;
	--dark-100: #eaeaea;
	--dark-200: #999;
	--dark-300: #888;
	--dark-400: #666;
	--dark-500: #444;
	--dark-600: #333;
	--dark-700: #313131;

	--error-50: #1f1c16;
	--error-100: #f7d4d6;
	--error-200: #ff1a1a;
	--error-300: #e00;
	--error-400: #c50000;

	--warning-100: #ffefcf;
	--warning-200: #f7b955;
	--warning-300: #f5a623;
	--warning-400: #ab570a;

	--success-100: #d3e5ff;
	--success-200: #3291ff;
	--success-300: #0070f3;
	--success-400: #0761d1;
}
