body {
	padding: 100px;
	background: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.button {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: rgba(118, 118, 128, 0.24);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.button:disabled > svg {
	stroke: #5a5252;
}

.icon-rigth {
	margin-left: 0.5rem;
	pointer-events: none;
}

.icon-left {
	margin-right: 0.8rem;
	pointer-events: none;
}
