body {
	padding: 100px;
}

/* ---------------------------- */

.button {
	color: #000;
	display: flex;
	align-items: center;
	padding: 0.8rem 1.4rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--neutral-400);
}

.button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #000;
}

.button:disabled > svg {
	stroke: #ababab;
}

.icon-rigth {
	margin-left: 0.5rem;
	pointer-events: none;
}

.icon-left {
	margin-right: 0.8rem;
	pointer-events: none;
}
