body {
	padding: 100px;
	background: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.button {
	display: flex;
	align-items: center;
	padding: 0.6rem 1.2rem;
	font-size: var(--text-16x);
	background-color: rgba(118, 118, 128, 0.24);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.button:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.button:disabled > svg {
	stroke: #5a5252;
}

/* ----------------------------------------- */

.button-icon {
	padding: 0;
	border: none;
	padding: 0.7rem;
	border-radius: 100%;
	background-color: transparent;
}

.button-icon:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.button-icon:disabled > svg {
	stroke: #5a5252;
}
