@import "../../css-variable/variable.css";

body {
	padding: 40px;
	background-color: var(--first);
}

.card {
	color: #fff;
	width: 600px;
	padding: 17px;
	border-radius: 4px;
	background-color: var(--first);
	border: 3px solid var(--seventh);
	box-shadow: 11px 11px 1px 1px var(--seventh);
}

.card__description {
	margin-top: 10px;
	margin-bottom: 25px;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font: 1rem/24px var(--font-family);
}

.card__footer {
	float: right;
	letter-spacing: 1px;
	font: 0.9rem monospace;
}

@media screen and (min-width: 760px) {
	.card__description {
		font-size: 0.9rem;
	}

	.card__footer {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 1200px) {
	.card__description {
		font-size: calc(0.9rem - 1px + 0.5px);
	}

	.card__footer {
		font-size: 0.8rem;
	}
}
