@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   padding: 17px;
   color: #ffffff;
   border-radius: 3px;
   box-sizing: border-box;
   transition: transform 0.2s;
   background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 30, 60, 1) 0%
   );
}

.card__description {
   font-size: 1rem;
   line-height: 25px;
   margin: 10px 0 25px 0;
   letter-spacing: 0.5px;
   box-sizing: border-box;
   font-family: var(--font-family);
}

/* .card__description {
   font-size: 1rem;
   line-height: 25px;
   letter-spacing: 0.5px;
   white-space: pre-line;
   box-sizing: border-box;
   margin: -14px 0 25px 0;
   font-family: var(--font-family);
} */

.card__footer {
   float: right;
   font-size: 0.9rem;
   letter-spacing: 1px;
   font-family: monospace;
}

.card:hover {
   transform: scale(1.01);
}

@media screen and (min-width: 760px) {
   .card__description {
      font-size: 0.9rem;
   }

   .card__footer {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .card__description {
      font-size: calc(0.9rem - 1px + 0.5px);
   }

   .card__footer {
      font-size: 0.8rem;
   }
}
