@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

/* for centering element */
.card {
   margin: 50px auto;
}
/* for centering element */

.card {
   width: 600px;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: var(--first);
   border: 4px solid var(--fourth);
   box-shadow: 12px 12px 1px 1px var(--fourth);
}

.card__head {
   padding: 17px;
   margin-block: 4px;
}

.card__profile-photo {
   float: left;
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 3px solid #20444e;
}

.card__username {
   float: left;
   color: #ffffff;
   margin-top: 13px;
   margin-left: 18px;
   text-align: center;
   letter-spacing: 1px;
   text-decoration: none;
   font: 1rem var(--font-family);
   transition: padding-bottom 0.2s, transform 0.2s;
}

.card__image {
   width: 100%;
   height: 100%;
   margin-top: 15px;
   text-align: center;
}

.card__description {
   padding: 17px;
   color: #ffffff;
   margin-top: -15px;
   margin-bottom: 17px;
   letter-spacing: 0.5px;
   white-space: pre-line;
   word-wrap: break-word;
   box-sizing: border-box;
   font: 1rem/22px var(--font-family);
}

.card__footer {
   float: right;
   padding: 15px;
   color: #ffffff;
   letter-spacing: 1px;
   font: 0.9rem monospace;
}

.card__username:hover {
   padding-bottom: 7px;
   transform: translateY(-4px);
   border-bottom: 3px solid #ffffff;
}

@media screen and (min-width: 760px) {
   .card__username {
      font-size: 1rem;
   }

   .card__description {
      font-size: 0.9rem;
   }

   .card__footer {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .card__username {
      font-size: 0.9rem;
   }

   .card__description {
      font-size: calc(0.9rem - 1px + 0.5px);
   }

   .card__footer {
      font-size: 0.8rem;
   }
}
