body {
	padding: 100px;
	background-color: #1d1d1df0;
}

/* ---------------------------- */

.field {
	width: 100%;
	color: #fff;
	resize: vertical;
	line-height: 2.7rem;
	border-radius: 0.4rem;
	padding: 1.2rem 1.8rem;
	font-size: var(--text-16x);
	background-color: #7676803d;
	border: 0.1rem solid #7676803d;
}

.field:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.field:disabled::placeholder {
	color: #5a5252;
}

/* textarea with label */
.field-label {
	color: #fff;
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
}
