body {
	padding: 80px;
	background-color: var(--neutral-25);
}

/* ----------------------------------------- */

.field {
	width: 100%;
}

.field__comp {
	width: 100%;
	padding: 16px;
	resize: vertical;
	color: var(--neutral-900);
	transition: border 0.2s;
	font: 400 16px var(--application-ui-font);
	border: 1px solid var(--neutral-200);
}

.field__comp:focus {
	border: 1px solid var(--neutral-600);
}

.field__comp::placeholder {
	color: var(--neutral-400);
}
