body {
	padding: 80px;
	background-color: var(--neutral-25);
}

/* ----------------------------------------- */

.field {
	width: 100%;
}

.field__label {
	margin-left: 2px;
	margin-bottom: 8px;
	display: inline-block;
	color: var(--neutral-900);
	font: 400 16px var(--application-ui-font);
}

.label__field-disabled {
	color: var(--neutral-500);
}

.field__comp {
	width: 100%;
	padding: 16px;
	transition: border 0.2s;
	color: var(--neutral-900);
	border: 1px solid var(--neutral-300);
	font: 400 16px var(--application-ui-font);
}

.field__comp:focus {
	border: 1px solid var(--neutral-600);
}

.field__comp::placeholder {
	color: var(--neutral-400);
}
