body {
	padding: 100px;
}

/* ---------------------------- */

.field {
	width: 100%;
	color: #000;
	resize: vertical;
	line-height: 2.7rem;
	border-radius: 0.4rem;
	padding: 1.2rem 1.8rem;
	font-size: var(--text-16x);
	background-color: var(--neutral-50);
	border: 0.1rem solid var(--neutral-300);
}

.field:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid var(--primary-900);
}

.field-label {
	color: #000;
	margin-bottom: 0.4rem;
	display: inline-block;
	font-size: var(--text-16x);
}

.field:disabled::placeholder {
	color: #ababab;
}
