body {
	padding: 100px;
	background-color: rgba(29, 29, 29, 0.94);
}

/* ---------------------------- */

.code-container {
	overflow-x: auto;
	position: relative;
	border-radius: 0.4rem;
	padding: 0 2.4rem 1.2rem 2.4rem;
	background-color: rgba(118, 118, 128, 0.3);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.code-container::-webkit-scrollbar {
	background-color: var(--primary-800);
}

.code-container::-webkit-scrollbar-thumb {
	background-color: var(--primary-600);
}

.code-block {
	color: #fff;
	font: 500 var(--text-16x) / 2.5rem monospace;
}

.code-copy {
	top: 0;
	right: 0;
	color: #fff;
	border: none;
	margin-top: 1rem;
	position: absolute;
	padding: 0.7rem 1rem;
	margin-right: 1.6rem;
	font-size: var(--text-16x);
	background-color: rgba(118, 118, 128, 0.24);
	border: 0.1rem solid rgba(118, 118, 128, 0.24);
}

.code-copy:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}

.code-copy:disabled {
	background-color: var(--primary-600);
}
