body {
	padding: 100px;
	background-color: var(--primary-50);
}

/* ---------------------------- */

.secondary-alert {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	padding: 1.1rem 1.4rem;
	justify-content: space-between;
	background-color: var(--secondary-600);
	border: 0.1rem solid var(--secondary-700);
}

.secondary-alert__message {
	color: #fff;
	font-size: var(--text-16x);
	font-family: var(--font-family);
}

.secondary-alert__close {
	border: none;
	padding: 0.2rem;
	cursor: pointer;
	border-radius: 100%;
	background-color: transparent;
}

.secondary-alert__close svg {
	width: 2.4rem;
	height: 2.4rem;
	pointer-events: none;
}

.secondary-alert__close:focus {
	outline-offset: -0.1rem;
	outline: 0.2rem solid #fff;
}
