@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.collapses {
   width: 600px;
   margin: 50px auto;
}

.collapse {
   margin-bottom: 35px;
}

.collapse__head {
   width: 100%;
   padding: 13px;
   display: flex;
   color: #ffffff;
   cursor: pointer;
   text-align: left;
   padding-block: 9px;
   border-radius: 4px;
   align-items: center;
   padding-inline: 10px;
   letter-spacing: 0.5px;
   box-sizing: border-box;
   font: 1rem var(--font-family);
   background-color: var(--first);
   justify-content: space-between;
   border: 2px solid var(--fourth);
   transition: background-color 0.2s;
   box-shadow: 6px 6px 1px 1px var(--fourth);
}

.collapse__icon {
   font-weight: 500;
   font-size: 1.1rem;
}

.collapse__content {
   padding: 17px;
   display: none;
   color: #ffffff;
   margin-top: 22px;
   border-radius: 4px;
   word-wrap: break-word;
   letter-spacing: 0.8px;
   box-sizing: border-box;
   background-color: var(--first);
   border: 3px solid var(--fourth);
   font: 1rem/24px var(--font-family);
   box-shadow: 9px 9px 1px 1px var(--fourth);
}

.collapse__head:hover,
.collapse__head--active {
   background-color: var(--second);
}

@media screen and (min-width: 760px) {
   .collapse__head {
      font-size: 0.9rem;
   }

   .collapse__content {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .collapse__head {
      font-size: calc(0.9rem - 1px);
   }

   .collapse__content {
      font-size: calc(0.9rem - 1px);
   }
}
