@import "../../css-variable/variable.css";

body {
   background-color: var(--first);
}

.collapses {
   width: 600px;
   margin: 50px auto;
   border: 2px solid var(--fourth);
}

.collapse__head {
   width: 100%;
   padding: 13px;
   color: #ffffff;
   cursor: pointer;
   font-size: 1rem;
   text-align: left;
   font-weight: 500;
   margin-bottom: -1px;
   letter-spacing: 0.5px;
   box-sizing: border-box;
   font-family: var(--font-family);
   border-bottom: 2px solid var(--fourth);
   background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 30, 60, 1) 0%
   );
}

.collapse__icon {
   float: right;
}

.collapse__content {
   padding: 17px;
   display: none;
   color: #ffffff;
   font-size: 1rem;
   line-height: 23px;
   word-wrap: break-word;
   letter-spacing: 0.8px;
   box-sizing: border-box;
   font-family: var(--font-family);
   border-bottom: 2px solid var(--fourth);
   background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 30, 60, 1) 0%
   );
}

.collapse:nth-last-child(1) .collapse__head {
   border-bottom: none;
}

.collapse:nth-last-child(1) .collapse__content {
   border-bottom: none;
}

.collapse__head--active,
.collapse__head:hover {
   background: var(--fourth);
}

@media screen and (min-width: 760px) {
   .collapse__head {
      font-size: 0.9rem;
   }

   .collapse__content {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 1200px) {
   .collapse__head {
      font-size: calc(0.9rem - 1px);
   }

   .collapse__content {
      font-size: calc(0.9rem - 1px);
   }
}
