@import '../../color-variables/style.css';


body {
   background-color: var(--body-bg-color);
}


/* for centering element */
.container {
   width: 600px;
   margin: 50px auto;
}


.collapse__button {
   width: 100%;
   border: none;
   outline: none;
   padding: 15px;
   cursor: pointer;
   font-size: 18px;
   text-align: left;
   font-family: monospace;
   box-sizing: border-box;
   transition: background-color 0.2s;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   border: 1px solid var(--component-border-color);
}

.collapse__icon {
   float: right;
   font-weight: bolder;
}

.collapse__button--active,
.collapse__button:hover {
   background-color: var(--component-hover-color);
}

.collapse__content {
   padding: 18px;
   display: none;
   font-size: 18px;
   overflow: hidden;
   line-height: 24px;
   letter-spacing: 1px;
   box-sizing: border-box;
   font-family: monospace;
   color: var(--component-font-color);
   background-color: var(--component-bg-color);
   border-left: 1px solid var(--component-border-color);
   border-right: 1px solid var(--component-border-color);
   border-bottom: 1px solid var(--component-border-color);
}