body {
   background-color: #15202b;
}


/* for centering the component */
.container {
   width: 300px;
   margin: 40px auto;
}

select {
   width: 100%;
   border: none;
   color: #ffffff;
   outline: none;
   padding: 12px;
   cursor: pointer;
   font-size: 16px;
   -moz-appearance: none;
   box-sizing: border-box;
   font-family: monospace;
   -webkit-appearance: none;
   transition: background-color 0.2s;
   background-color: #253341;
}

select:hover {
   background-color: #38444d;
}