body {
	background-color: #f5f5f5;
}

/* Spinner 1 */
.spinner-1 {
	top: 50%;
	left: 50%;
	width: 65px;
	content: "";
	height: 65px;
	position: absolute;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid #cec6c5;
	border-top-color: #343a40;
	animation: spinner 0.8s linear infinite;
	box-shadow: 0 0 0.4px 0.4px rgba(0, 0, 0, 0.102);
}

/* Spinner 2 */
.spinner-2 {
	top: 50%;
	left: 50%;
	width: 65px;
	height: 65px;
	position: absolute;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid transparent;
	border-top-color: #343a40;
	border-bottom-color: #343a40;
	animation: spinner 1s linear infinite;
	box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.102);
}

/* Spinner 3 */
.spinner-3 {
	top: 50%;
	left: 50%;
	width: 65px;
	height: 65px;
	position: absolute;
	border-radius: 100%;
	box-sizing: border-box;
	border-top: 6px solid #343a40;
	border-right: 4px solid transparent;
	animation: spinner 0.9s linear infinite;
}

/* Spinner 4 */
.spinner-4 {
	top: 50%;
	left: 50%;
	width: 65px;
	height: 65px;
	position: absolute;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid #343a40;
	border-top-color: transparent;
	animation: spinner 0.9s linear infinite;
}

/* Spinner 5 */
.spinner-5 {
	top: 50%;
	left: 50%;
	width: 65px;
	height: 65px;
	position: absolute;
	border-radius: 100%;
	box-sizing: border-box;
	border: 6px solid #f5f5f5;
	border-top-color: #343a40;
	border-bottom-color: #343a40;
	animation: widthSpinner 1s linear infinite;
	box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.102);
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@keyframes widthSpinner {
	0% {
		border-width: 10px;
		transform: rotate(0deg);
	}

	50% {
		border-width: 2px;
		transform: rotate(180deg);
	}

	100% {
		border-width: 10px;
		transform: rotate(360deg);
	}
}
